In [2]:
print('hi every one!\'my name is bhumi\'')

hi every one!'my name is bhumi'

In [ ]:
17/8/23

In [3]:
class Tech_dept:
    def descrip(self):
        print("This tech dept")
class programmer(Tech_dept):
    def descrip(self):
        super().descrip()
        print('This is a programmer')
tech1=programmer()
tech1.descrip()

This tech dept
This is a programmer

In [5]:
print('''python''')

python

In [ ]:
method overriding
method overrriding is a powerful feature that allows you to redefine a method of the parent class in the childclass

when a child method has the same name same parameters and same return type as method in its parent class then the method in the child
child is said to override the method in the the parent class

In [19]:
class animal:
    def show_name(self):
        print("this is animal class")
class Dog(animal):
    def show_name(self):
        print("This is Dog class")

In [21]:
dog1 = Dog()
dog1.show_name()

This is Dog class

In [6]:
print("""python data science""")

python data science

In [22]:
C.__mro__

(__main__.C, __main__.B, __main__.A, object)

In [16]:
class A:
    def process(self):
        print("in class A")
class B:
    def process(self):
        print("in class B")
class C(B,A):
    pass
# creating object of c class
c1 = C()
c1.process()

in class B

In [23]:
print(type(B))

<class 'type'>

In [9]:
print('\'note book\'')

'note book'

In [24]:
A.__mro__  #All classes inherit the object class

(__main__.A, object)

In [10]:
print('\'good boy\'')

'good boy'

In [11]:
print(.\'ramesh cleaver\'')

SyntaxError: invalid syntax (2524161870.py, line 1)

In [12]:
print

SyntaxError: invalid decimal literal (2235891187.py, line 16)

In [13]:
print("helloo\b")

helloo

In [14]:
print("dooo\b")

dooo

In [16]:
print("\\n")

\n

In [19]:
print("my name is moon\rmy name issuna")

my name issuna

In [20]:
name=input("student name")
age=input("student age")
address=input("student address")
parent=input("father name")
feild=input("student strem")
print("\n")

student nameramesh
student age23
student addresshaldwani
father nameff
student stremart

In [21]:
name=input("student name")
age=input ("student age")
addres=input("student addres")
paeent=input("father name")
feild=input("student sterm")
print("\n")

student namesuresh
student age55
student addreskathgodam
father namegovind
student stermat

In [3]:
name=input("student name")
print("\n")
age=input ("student age")
addres=input("student addres")
paeent=input("father name")
feild=input("student sterm")
print("\n")
print(age) 
print(addres) 
print (field)

student nametango


student age66
student addreshalduchor
father namedav
student stermcommers


66
halduchor

NameError: name 'field' is not defined

In [1]:
example="pythan is easy"
print(example[10])

e

In [2]:
example="tobay is sunday"
print(example[4])

y

# example="pythan is easy"
print(example[-3])

In [2]:
x="i am learning python"

print(x[0:18])

i am learning pyth

In [4]:
x="i am learning pytho"
print(x[0:-18])

i

In [5]:
a="i am learning python"
print(a[0:-1])

i am learning pytho

In [8]:
a="i am learning python"
print(a[0:-20])

In [2]:
a="i am learning python"
print(a[-20:19])

i am learning pytho

In [2]:
  a="python is easy"
print(a[-7:4])

In [5]:
example="python is easy"
example[0:15:2]

'pto ses'

In [6]:
example="my name is ram"
example[0:15:8]

'mi'

In [7]:
example="python is easy"
example[-15::-1]

''

In [9]:
example="python is easy"
example[-9::-1]

'nohtyp'

In [12]:
examle="python is easy"
example[-4:-6:-2]

'e'

In [14]:
example=python is easy
example[:-2]

NameError: name 'python' is not defined

In [18]:
x="hello world"
x.upper()
x.lower()

'hello world'

In [20]:
#:replace()
x=x.replace(l:z)
x

SyntaxError: invalid syntax (2166447965.py, line 2)

In [22]:
#'replace()
x=replace("";Y')

SyntaxError: unterminated string literal (detected at line 2) (2351739764.py, line 2)

In [24]:
#.count()
x.count()
x

TypeError: count() takes at least 1 argument (0 given)

In [ ]:
#.count()
x.count()