In [ ]:
using docstring in function
single line docstring

In [ ]:

25-3-23

In [3]:
# filter(function,iterable)
list(filter(lambda x:x%2==0,(1,2,3,4,5,6)))

[2, 4, 6]

In [5]:
list(filter(lambda x:None,(1,2,3,4,5,6)))

[]

In [8]:
# map(function,iterable)
#take a function as a first argument and applies it to each of theelement of the iterable
list1=[2,3,4,8,9]
list2=list(map(lambda x:x+2,list1))
print("result is:",list2

result is: [4, 5, 6, 10, 11]

In [9]:
list1=[2,3,4,8,9]
list2=list(map(lambda x:"data science",list1))
print("resultl is:",list2)

result is: ['data science', 'data science', 'data science', 'data science', 'data science']

In [10]:
x=8
if(x%2==0):print(x)

8

In [ ]:
variabel length arguments or arbitary arguments
when we need to pass multiple arguments to the function we can use variable length argument 21 july

In [ ]:
26/3/2023

In [ ]:
object oriented programing
every object has the following properties
1 identity:every object must be uniquely idntified
2 state : an object has attributes that represent the represent the state of an object
3:behavior:an object has methods that represent its behavior

object is an instance of a class

class is a blueprint or code template for object creation . using a class you can create as many
objects as you want.

In [5]:
# creating a class
class class_name:
    """this is a docstring.i have created a class,"""
    
class_name.__doc__

'this is a docstring.i have created a class,'

27/7/23

#arbitary postional argument
def average(*numbers):  #numbers is a tuple
    print(numbers)
    sum=0
    for x in numbers:
        sum=sum+x
    print(sum/len(numbers)
average(9,4,12)

In [3]:
#arbitary keyword arguments
def my_func(**key_word):  # key_word is a dictionary
    print(key_word)
    for sub in key_word:
        print(sub)
        #get argument value
        sub_marks=key_word[sub]
        print(sub,"=",sub_marks)
#pass multiple keyword arguments
my_func(math=56,english=61,science=73)

{'math': 56, 'english': 61, 'science': 73}
math
math = 56
english
english = 61
science
science = 73

In [1]:
#arbitary postional arguments
def average (*numbers):      #numbers is a tuple
    print(numbers)
    sum=20
    for x in numbers:
        sum=sum-x
        print(sum)
average(9,4,12)

(9, 4, 12)
11
7
-5

In [3]:
def testing():
    if x==10:
        return "hello world"
    return testing(x-1)   
testing(15)

TypeError: testing() takes 0 positional arguments but 1 was given

In [ ]:
recursion

In [ ]:
while true:
    pass

In [1]:
def get_message(msg,q=35):
    print(msg,q)
    get_message

In [ ]:
date 20 july 2023

In [3]:
def get_message(msg,q=35):
    print(msg,q)
get_message("hi",q=78)

hi 78

In [ ]:
nonlocal variables

In [2]:
def outer():
    w=89
    def inner():
        
        w=67
        print(w)
    inner()
    print(w)
outer()

67
89

In [3]:
def outer():
    w=89
    def inner():
        nonlocal w
        w=67
        print(w)
    inner()
    print(w)
outer()

67
67

In [1]:
def show_result():
    a=10
    sum=a+78
    print(sum)
show_result()
print(a)

88

NameError: name 'a' is not defined

In [4]:
def outer():
    w=89
    def inner():
        nonlocal w
        w=67
        print(w)
    inner()
    print(w)
outer()

67
67

In [5]:
def outer():
    #x=12
    def inner():
        nonlocal x
        x=23
        print(x)
    inner()
    print(x)
outer()

SyntaxError: no binding for nonlocal 'x' found (777945740.py, line 4)

In [ ]:
#argument vs parameters

In [6]:
def my_func(x,y): #here x and y are the parameters
    return x+y
my_func(45,67) #here 45 and67 are the argument

112

In [ ]:
python function argument
1 positional arguments
2keyword arguments
3 default arguments
4variable length arguments
positional arguments are arguments that are passed to function in proper positional order

In [8]:
def calc(p,q):
    diff=p-q
    return diff
calc(89,45)# p=89, q=45

44

In [7]:
def my_function():
    pass
my_function(56)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [9]:
calc(45,89)   #p=45 and q=89

-44

In [ ]:
def show result():
    """let us understrand and docstrings"""
    print("this is a test program")

In [10]:
calc(89,45,56)

TypeError: calc() takes 2 positional arguments but 3 were given

In [5]:
x="hello word"
print(x)
def print_result():
    x="hi"
    print(x)
    
print(x)    
print_result()

hello word
hello word
hi

In [11]:
calc(89,45,56)

TypeError: calc() takes 2 positional arguments but 3 were given

In [6]:
x="hello wrold"
print(x)

hello wrold

In [ ]:
key word arguments
1 values get assigned to the parameters by their name(keyword)
2 here the order of the arguments does not matter

In [12]:
def calc(p,q):
    diff=p-q
    return diff
calc (p=10,q=2)

8

In [7]:
x="hello world"
def print_result():
    x="hi"
    print(x)
print(x)
print_result()

hello world
hi

In [13]:
calc(q=2,p=10)

8

In [5]:
show_result._doc_

NameError: name 'show_result' is not defined

In [14]:
calc(a=10,b=2)

TypeError: calc() got an unexpected keyword argument 'a'

In [ ]:
defult argument
take the default value during the function call if we do not pass them

In [16]:
def_message(msg="hello word"):
    print(msg)
    
get_message("Hi","hello")

SyntaxError: invalid syntax (2663602030.py, line 1)

In [18]:
def get_message(msg="hello world",q=35):
    print(msg)
get_message("HI")

HI

In [8]:
def addition(x,y):
    sum=x+y
    return sum
print(addition(1,10))
print(addition(4,6))
print(addition(3,8))

11
10
11

In [ ]:
help(print)
help

In [ ]:
non local variable

In [9]:
def outer():
    w=89
    def inner():
        w=67
        print(w)
    inner()
    print(w)
outer()

67
89

In [ ]:
multi_ line docstring
-

In [7]:
def show_result():
    """let us understand and docstring
    
    iam using this function to understand about docstring
    docstrings are used to document function"""
    print("this is a test program")

In [8]:
print (show_result.__doc__)

let us understand and docstring

    iam using this function to understand about docstring
    docstrings are used to document function

In [9]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    let us understand and docstring

    iam using this function to understand about docstring
    docstrings are used to document function

In [3]:
scope range how much

NameError: name 'calculator' is not defined

In [14]:
t="python"      #global

def scope_var():
    u="analytics"  #local
    print("T is",t) 
scope_var()
print("the value of t is",t) 

print("the value of u is",u)

T is python
the value of t is python

NameError: name 'u' is not defined

In [15]:
t="python"      #global
u="analytics"
def scope_var():
    print("value of u inside function before declaring it as local is",u)
    u="data science"  #local
    print(u)
    print("T is",t) 
scope_var()
print("the value of t is",t) 

print("the value of u is",u)

UnboundLocalError: local variable 'u' referenced before assignment

In [3]:
#creating a global variable inside a function
def test_global():
    global x
    x=78
    print("inside function is ",x)
    
test_global()
print("x outside function is",x)

inside function is  78
x outside function is 78

In [5]:
def test_global():
    global x=78
    
    print("x inside function is",x)
    
test_global()
print("x outside function is",x)

SyntaxError: invalid syntax (60266911.py, line 2)

ex="heiio word




ex.ends with('')??

In [ ]:
def calculator(a,b):

In [1]:
def add(a,b):
    sum = a+b
    print(sum)
print(add(45,78))

123
None

In [1]:
def first_function():
    print("data science is amazing")
first_function()

data science is amazing

In [2]:
print(none)

NameError: name 'none' is not defined

In [2]:
x=9
while x<15:
    print(x)
    x=x+1

9
10
11
12
13
14

In [3]:
print(None)

None

In [ ]:
function areva block of code defined with a name function provide reuseability
type of function 
1 built in function or predefined function
2 user defined function
creating a function
def first _function():
    print ("data science is amazing")
first_function

In [4]:
print(add(10,12)*2)

22

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [2]:
def first_function(x):
    print("data science is amazing")
    print(x)
first_function(12)#function is called and a value is passed

data science is amazing
12

In [5]:
print(print("h"))

h
None

In [ ]:
f0r i in range(1,8):
    for j in range

In [6]:
print(print(print("h")))

h
None
None

In [6]:
def second_function(x,y):
    print(x)
    print(y)
second_function("str",67)

str
67

In [4]:
x=9
while x<15:
    print(x)
    x=x+1

9
10
11
12
13
14

In [12]:
#returing value from a function


def calculator(x,y):
    a=x+y
    return a  

b=calculator(23,45)
print(b)

68

In [2]:
for i in range(3,6):
    for j in range (2,i):
        print("*",end='')
     print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [13]:
def calculator (x,y):
    a=x+y
    return a
b=calculator(23,45)+2
print(b)

70

In [7]:
i=1
while i<4:
    lst=[1,2,3]
    x=1
    print(lst)
    while lst!=[]:
        lst.remove(x)
        print(lst)
        x=x+1
    i=i+1

[1, 2, 3]
[2, 3]
[3]
[]
[1, 2, 3]
[2, 3]
[3]
[]
[1, 2, 3]
[2, 3]
[3]
[]

In [14]:
def my_fun(x,y):
    print("we are adding numbers")
    a=x+y
    return a
print("hello world")
my_func(12,23)
we are adding numbers

SyntaxError: invalid syntax (174820927.py, line 7)

In [5]:


for i in range (1,11):
    for j in range (1,i):
        print("*",end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [15]:
def func():
    print("xyz")
x=func()
print(x)

xyz
None

In [8]:
for i in range (1,12):
    for j in range{i,1}:
        print(end='',"*")
    print()

SyntaxError: invalid syntax (3814145995.py, line 2)

In [16]:
print(print("hello"))

hello
None

In [17]:
def func(a):
    print("xyz")
    print(a)
x=func(78)
print("the value of x is",x)

xyz
78
the value of x is None

In [7]:
for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("i am breaking it")
                break
            print(z)

0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it
0
1
2
i am breaking it

In [18]:
def func(a):
    print("xyz")
    print(a)
    return a
x=func(78)
print("the value of xis",x)

xyz
78
the value of xis 78

In [6]:
for a in range(5):
    for b in range(7,9):
        print("*",end='')
    print()

**
**
**
**
**

In [21]:
def func(a):
    print("xyz")
    print(a)
x=func(78)
print("the value of x is",x)

xyz
78
the value of x is None

In [13]:
for b in range(6,7,8):
print(b*b)

IndentationError: expected an indented block after 'for' statement on line 1 (4089695513.py, line 2)

In [22]:
print(print("hello"))

hello
None

In [10]:
for i in range(3,9):
    for j in range(3,i):
        print("*",end='')
    print()

*
**
***
****
*****

In [23]:
print("hello")

hello

In [8]:
for i in range(1,5):
    print("*")

*
*
*
*

In [24]:
print(print("hello"))

hello
None

continue
the continue statement skips the current iteration of the loopand  jump to the next iteration

In [27]:
print(None)

None

In [13]:

for x in {1,2,3,4}:
    if x==3:
        continue
    print(x)
    print("python")

1
python
2
python
4
python

In [3]:
print("hello",end=" ")
print("python")

hello python

In [14]:
for x in range(5):
    print(x)
    continue
    print(x+1)

0
1
2
3
4

In [13]:
for b in ("*","*","*"):         
    print(b)

*
*
*

In [ ]:
pass
the pass statement does nothing it is used to create an empty block that may be useful in the future

In [15]:
for x in range(10):
    continue

In [14]:
for b in("*","*","*","*","*"):
    print(b)

*
*
*
*
*

In [16]:
for x in range(10):
    pass

In [15]:
for i in range(5):
    print("*")

*
*
*
*
*

In [17]:
for t in range(4):
    continue

In [19]:
for x in range(5):
    pass
    print("hello")

hello
hello
hello
hello
hello

In [24]:
for x in range(1,5):
    if x>3:
        break
    print(x)
    
print("hello world")

1
2
3
hello world

In [20]:
for t inrange (4):
    continue
    print("big data")

SyntaxError: invalid syntax (3922630718.py, line 1)

In [27]:

lst=[]
for x in range(0,4):
    lst.append(x)
    print(lst)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]

In [25]:
for q in range(4):
    if q==3:
        continue
    print(q)

0
1
2

In [32]:
for x in range(1,5):
    if x>3:
        break
    print(x)

1
2
3

In [1]:
print(print())

None

In [24]:
y=6:
if y>4:
  break
print("xyz")

SyntaxError: invalid syntax (1640047699.py, line 1)

In [2]:
print("hello"))

SyntaxError: unmatched ')' (2981601170.py, line 1)

In [29]:
# here it breaks the innermost loop
for y in range(3):
    if y>2:
        print("i am breaking it")
        break
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    print(y)

0
1
2

In [3]:
print(print("hello"))

hello
None

In [5]:
print()

In [6]:
print("hello  word")

hello  word

In [30]:
for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("i am breaking it")
                break
        print(z)

i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3
i am breaking it
3

In [9]:
def print_a(a):
    print(a)

In [1]:
#  printing pattern
f= list (range(int(input())))
for e in f:
    g=str(e)
    print(e*g)

32

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515
16161616161616161616161616161616
1717171717171717171717171717171717
181818181818181818181818181818181818
19191919191919191919191919191919191919
2020202020202020202020202020202020202020
212121212121212121212121212121212121212121
22222222222222222222222222222222222222222222
2323232323232323232323232323232323232323232323
242424242424242424242424242424242424242424242424
25252525252525252525252525252525252525252525252525
2626262626262626262626262626262626262626262626262626
272727272727272727272727272727272727272727272727272727
28282828282828282828282828282828282828282828282828282828
2929292929292929292929292929292929292929292929292929292929
303030303030303030303030303030303030303030303030303030303030
31313131313131313131313131313131313131313131313131313131313131

In [11]:
def add(a,b):
    sum=a+b
    return sum
add(45,78)

123

In [4]:

num =(1,11)
    for a in range(1,11):
    print(num,"x" = =num*a)

IndentationError: unexpected indent (1037054934.py, line 2)

In [13]:
print(add(10,12)*2)

44

In [14]:
print("h")

h

In [5]:
r=int(input("start"))
e=int(input("stop"))
sum=0
for q in range (r,e+1,2):
    if q%2==0:
        sum=sum+q
print(sum)

start44
stop66
660

In [15]:
print(print("h"))

h
None

In [2]:
x=8
ifx==8:
    print("x is",x)

SyntaxError: invalid syntax (3903129809.py, line 2)

In [16]:
print(print(print("h")))

h
None
None

In [ ]:
nested for loops
#print the mutltication table of 2

In [18]:
def add(a,b):
    sum=a+b
    print(sum)
print (add(45,78))

123
None

In [ ]:
t=int(input("enter the number:"))
w=1,2
for e in w:
    print()

In [20]:
def add(a,b):
    sum=a+b
    print(sum)
 print(add(45,78))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [6]:
#print the multiplication table of 2
for x in range(1,11):
    print(2,"x",x,"=",x*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [4]:
x=10
if x==8:
    print("x is",x)
else:
    print("x is",x)
    else:
        print("x is not 10")
        elif x==10:
            print("x is ",x)

SyntaxError: invalid syntax (3746820043.py, line 6)

In [19]:
# print the multiplication table of 2,3,4,5,6,7
for x in range (2,7):
    print( x,"x",x"==x*2,x*3,x*4,x*5,x*6,x*7)

SyntaxError: unterminated string literal (detected at line 3) (2812193375.py, line 3)

In [5]:
sum = 0
for i in range (1,101):
    if i%2==0:
        sum+=i
    print("sum of all even numbers",sum)

sum of all even numbers 0
sum of all even numbers 2
sum of all even numbers 2
sum of all even numbers 6
sum of all even numbers 6
sum of all even numbers 12
sum of all even numbers 12
sum of all even numbers 20
sum of all even numbers 20
sum of all even numbers 30
sum of all even numbers 30
sum of all even numbers 42
sum of all even numbers 42
sum of all even numbers 56
sum of all even numbers 56
sum of all even numbers 72
sum of all even numbers 72
sum of all even numbers 90
sum of all even numbers 90
sum of all even numbers 110
sum of all even numbers 110
sum of all even numbers 132
sum of all even numbers 132
sum of all even numbers 156
sum of all even numbers 156
sum of all even numbers 182
sum of all even numbers 182
sum of all even numbers 210
sum of all even numbers 210
sum of all even numbers 240
sum of all even numbers 240
sum of all even numbers 272
sum of all even numbers 272
sum of all even numbers 306
sum of all even numbers 306
sum of all even numbers 342
sum of all even numbers 342
sum of all even numbers 380
sum of all even numbers 380
sum of all even numbers 420
sum of all even numbers 420
sum of all even numbers 462
sum of all even numbers 462
sum of all even numbers 506
sum of all even numbers 506
sum of all even numbers 552
sum of all even numbers 552
sum of all even numbers 600
sum of all even numbers 600
sum of all even numbers 650
sum of all even numbers 650
sum of all even numbers 702
sum of all even numbers 702
sum of all even numbers 756
sum of all even numbers 756
sum of all even numbers 812
sum of all even numbers 812
sum of all even numbers 870
sum of all even numbers 870
sum of all even numbers 930
sum of all even numbers 930
sum of all even numbers 992
sum of all even numbers 992
sum of all even numbers 1056
sum of all even numbers 1056
sum of all even numbers 1122
sum of all even numbers 1122
sum of all even numbers 1190
sum of all even numbers 1190
sum of all even numbers 1260
sum of all even numbers 1260
sum of all even numbers 1332
sum of all even numbers 1332
sum of all even numbers 1406
sum of all even numbers 1406
sum of all even numbers 1482
sum of all even numbers 1482
sum of all even numbers 1560
sum of all even numbers 1560
sum of all even numbers 1640
sum of all even numbers 1640
sum of all even numbers 1722
sum of all even numbers 1722
sum of all even numbers 1806
sum of all even numbers 1806
sum of all even numbers 1892
sum of all even numbers 1892
sum of all even numbers 1980
sum of all even numbers 1980
sum of all even numbers 2070
sum of all even numbers 2070
sum of all even numbers 2162
sum of all even numbers 2162
sum of all even numbers 2256
sum of all even numbers 2256
sum of all even numbers 2352
sum of all even numbers 2352
sum of all even numbers 2450
sum of all even numbers 2450
sum of all even numbers 2550

In [6]:
x=10
if x==8:
    print("x is not 10")
else:
     print("x is not 10")
if x==10:
    print("x is",x )

x is not 10
x is 10

In [7]:

#print sum of even no from 1 to 100
    if i in range(1,101):
        if i%2==0:
            sum+=i
            print("sum of all even numbers",sum)

IndentationError: unexpected indent (288257385.py, line 2)

In [ ]:
# make a calculator
n1=int

In [7]:
x= eval(input())
print(x)
type(x)

[1,2,3]
[1, 2, 3]

list

In [ ]:
#""
a=int(input())
if a%2==0:
    print("a is an even number")
    else

In [ ]:
# make a calculator
n1=int()

In [11]:
students={1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x=int(input("student:"))
students[x]

student:5

'ee'

In [16]:
# printing pattern
f=list(range(int(input())))
for e in f:
    g=str(e)
    print(e*g)

10

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [9]:

a=int(input("enter a number between 0 and 11:"))
if a==1:
        print("ishi")
elif a==2:
        print("rohit")
elif a==3:
        print("gaurav")
elif a==4:
        print("rahul")
elif a==5:
        print("arjun")
elif a==6:
        print("bhumika")
elif a==7:
        print("priyanshu")
elif a==8:
        print("pushpander")
elif a==9:      
        print("himanshu")
elif a==10:   
        print("nitin")
else:
        print("end")

enter a number between 0 and 11:9
himanshu

In [18]:
t=int(input("enter the number:"))
w=1,2,3,4,5,6,7,8,9,10
for e in w:
    print(t,'*',e,'=',t*e)

enter the number:8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [11]:
a=int(input("enter a number between 0 and 4:"))
if a==1:
    print("rishi")
elif a==2:
    print("pawan")
elif a==3:
    print("harish")
elif a==4:
    print("ramesh")
else:
    print("end")

enter a number between 0 and 4:1
rishi

In [14]:
#program to check wheter anumber is odd or even
a=int(input())
if a%2==0:
    print("the no is even")
else:
        print("the no is odd")

5
the no is odd

In [15]:
#check wheter a number is apalindme numbere
a=input()
if a[::]==a[::-1]:
    print("it is a palindrome")
else:
    print("it is not apalindrome")

127
it is not apalindrome

In [16]:
type(a)

str

In [17]:
a[::]

'127'

In [18]:
a[::-1]

'721'

In [19]:
a="78"
a[::-1]

'87'

In [20]:
a="121"
print(a[::-1])
a==a[::-1]

121

True

In [31]:
# nested if -else
x=int(input("value for x"))
y=int(input("value for y"))
z= int(input("value for z"))      
x=23
y=67 
z=45
if x>y: 
      if x>z:
        print("x>y>z")
      else:  
        print("y<x<z")
elif x==y:
        if x>z:
         print("y>x<z")
elif x<y:
            if x>z:
             print("y>x>z")
            else:
                print("y>x<z")

value for x45
value for y67
value for z76
y>x<z

In [ ]:
#single line if -else

In [33]:
#single line if statement
if x>y:print("x>y")
elif x==y: print("x==y")
else: print("x<y")

x<y

In [37]:
 (8+2)/2==6:
   print("6")
else:
    print()

SyntaxError: invalid syntax (1635104213.py, line 1)

In [35]:
8+4/2

10.0

In [44]:
if (8+4)/2==6:
     print("6")
else:
      print()

6

In [5]:
# build a calculator
x=int(input("enter first number"))
y=int(input("enter second number"))
z=input("which operation do you want to perform+,-,*or/")
print(x+y,x*y,x-y,x/y)

enter first number90
enter second number78
which operation do you want to perform+,-,*or/-
168 7020 12 1.1538461538461537

In [ ]:
iterative statement
loop
loops are used to execute a block of code repeatedly
for loop
the for loop iterates over an iterable object
1 for loops are also used when you have a block of code which you want to
want to  repate a fixed number of item
2 for loops are also used to perform the same set of operation for each item in an iterable
3thus for loops reduce the code complexity and save time

In [7]:
# string,list,set,tuple,set,sictionary,range -iterable data type
x={1,2,3,4}
for a in x:
    print(a)

1
2
3
4

In [11]:
x=(78,123,34,101)
for c in x:
   print(c)

78
123
34
101

In [ ]:
#print sum of all even number from 1to 10
for 1 in range (2,11,2):

In [15]:
x=(23,44,67,87,90)
for c in x:
    print(c)

23
44
67
87
90

In [ ]:
lterative statements
 loops
 for loop
the for loop iterates over an iterable object
1for loops are used when you have a block of code which you want to repeat afixed number of times
2 for loops are also used to perform the same set of operation for each item in aniterable
3thus for loops reduce the code the code complexity and save time

In [5]:
for x in range(0,4):
    print(x)

0
1
2
3

In [6]:
list(range(0,4))
print(x)

3

In [7]:
x=list(range(0,4))
print(x)

[0, 1, 2, 3]

In [12]:
x=list(range(0,4))
print(1)
print(2)
print(3)
print(4)
print(x)

1
2
3
4
[0, 1, 2, 3]

In [13]:
y=range(0,4)
print(y[0])
print(y[1])
print(y[2])
print(y[3])

0
1
2
3

In [15]:
y=range(0,4)
for x in y:
    print(x)

0
1
2
3

In [17]:
y=range(0,6)
for x in y:
    print(x)

0
1
2
3
4
5

In [19]:
for x in[True,"six",9]:
    print(x)

True
six
9

In [20]:
#print sum of all even number for 1 to 10
for x in range (1,11)
sum=0
for

SyntaxError: expected ':' (3208458047.py, line 2)

In [2]:
for val in range("0,10"):
print(sum of even no)

IndentationError: expected an indented block after 'for' statement on line 1 (1735465523.py, line 2)

In [1]:

for a in [0 to "ten"]:
print( sum even number range a )
a

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2850903438.py, line 1)

In [8]:
a=1
for a in[1,4,7]:
    print(a)
    print(a*a)

1
1
4
16
7
49

In [3]:
sum=0
for n in range(1,8):
    sum+=n
    print("sum of natural numbers<=",n,"is",sum)

sum of natural numbers<= 1 is 1
sum of natural numbers<= 2 is 3
sum of natural numbers<= 3 is 6
sum of natural numbers<= 4 is 10
sum of natural numbers<= 5 is 15
sum of natural numbers<= 6 is 21
sum of natural numbers<= 7 is 28

In [9]:
a=3
for a in [3,6,7]:
    print(a)
    print(a*a)

3
9
6
36
7
49

In [10]:
a=8
for a in[6,8,9]:
    print(a)
    print(a%2)

6
0
8
0
9
1

In [15]:
a=5
for a in [6,8,5,7]:
    print(a)
    print(a%3)

6
0
8
2
5
2
7
1

In [14]:
a=9
for a in [9,10,13,14,17]:
    print(a)
    print(a+a)
    
    
print(a)
print(a+a)

9
18
10
20
13
26
14
28
17
34
17
34

In [16]:
a-3
for a in [5,7,9,13,15,17]:
    print(a)
    print(a%5)

5
0
7
2
9
4
13
3
15
0
17
2

In [18]:
 
 for ch in "clam":
    print(ch)

c
l
a
m

In [21]:
for v in [6,7,8,9]:
    print(v*v*v)

216
343
512
729

In [23]:
for b in [6,76,87,77]:
    print(b*b*b*b)

1296
33362176
57289761
35153041

In [25]:
for n in [7,88,55,46,44]:
    print(n*n*n*n)

2401
59969536
9150625
4477456
3748096

In [27]:
num=5
for a in range(1,11):
    print(num,"x",a,"=",num*a)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
for a in "abcde":
    print(a,"+",end="")

a +b +c +d +e +

In [29]:
for a in"abcdef":
    print(a,"-",end="")

a -b -c -d -e -f -

In [31]:
for a in "a,d,u,r,e,i,o":
    print(a,"%",end="")

a %, %d %, %u %, %r %, %e %, %i %, %o %

In [32]:
for a in "abcde":
    print(a,"+",end="")

a +b +c +d +e +

In [5]:
sum=0
for z in range (2,11,2):
    sum +=z
    print(sum)
sum +=z
print(sum)

2
6
12
20
30
40

In [ ]:

#ask the user for the range from which the even numbershould be printed#eg.10 to20,60to1000,70 to80

In [ ]:
#squre each number number inside alist and finally print it:

In [18]:
n=[2,3,4]
for x in[n]:
print(n*n)

IndentationError: expected an indented block after 'for' statement on line 2 (3546564919.py, line 3)

In [31]:
x=[2,3,4] 
for a in x:
    print(a*a)

4
9
16

In [ ]:
x=[1,2,3,4]

In [ ]:

x=list range(1,10)