# SETS IN PYTHON

In [2]:
set={2,3,4,5,6,7,8}
print(set)

{2, 3, 4, 5, 6, 7, 8}

In [6]:
set={2,3,4,5,6,7,8 ,[2,3,4,5,6]} # the characters in set must be of an immutable type.
print(set)                       # therefore , it does not accept the input of list , which is mutable

TypeError: unhashable type: 'list'

In [27]:
set={2,3,4,5,6,7,8}       # unordered , mutable(but characters in set are immutable) 
print(set)                #no duplicacy , characters do not repeat

{2, 3, 4, 5, 6, 7, 8}

In [14]:
set_=(3,4,2,5,6,8,7)
print(set_)

(3, 4, 2, 5, 6, 8, 7)

In [15]:
set_a= {1,1,1,1,3,34,5,5,5,5,5}
print(set_a)

{1, 34, 3, 5}

In [59]:
set_b={1,2,3,'suryansh'}
print(set_b)

{1, 2, 3, 'suryansh'}

In [54]:
set_a= {1,1,1,1,3,34,5,5,5,5,5}

In [37]:
set_a={1,1,1,1,3,34,5,5,5,5,5}

In [38]:
set_b={1,2,3,4,5,7,8}

In [42]:
set_b={22,5,32,'suryansh'}
list_B=[22,5,32,'suryansh']
print(set_b==list_B)
print(set_b)
print(list_B)

False
{32, 'suryansh', 5, 22}
[22, 5, 32, 'suryansh']

In [47]:
set_b={'[20,3,3.5,55]'}
print(set_b)

{'[20,3,3.5,55]'}

In [50]:
set={}
print(set)
print(type(set))

{}
<class 'dict'>

#####  accessing items of a set

In [61]:
book_set={'harry potter', 'angels and demons', 'atomic habits'}
# if we want to access items in a set we use #for loop
for book in book_set:
    print(book)

angels and demons
harry potter
atomic habits

In [64]:
print(book_set)

{'angels and demons', 'harry potter', 'atomic habits'}

In [67]:
book_set_a= {'harry potter','atomic habits','angels and demons'}
for harry potter in book_set_a
print(yes if True and no if False)

SyntaxError: invalid syntax (3506219660.py, line 2)

# 31/7/2023

In [1]:
colour_set={'red','orange','purple','black','white'}
colour_set.discard('purple')

print(colour_set)

{'black', 'white', 'red', 'orange'}

# adding items to a set 
add and 
update

In [68]:
fruit_set={apple,banana'}

NameError: name 'apple' is not defined

# remove items from a set

there are 5 methods to remove items from a set

# .remove
# .discard
# .pop
# .clear
# del set

# set operations

###### union of sets

In [6]:
colour_set={'violet','indigo','blue','green','yellow'}
print(id(colour_set))
remaining_colours={'indigo','orange','red'}
#union using     .union() method 
print(id(remaining_colours))
vibgyor_colours=colour_set.union(remaining_colours)
print(vibgyor_colours)
print(id(vibgyor_colours),id(remaining_colours),id(colour_set))

2500314589312
2500314588640
{'green', 'red', 'orange', 'yellow', 'violet', 'indigo', 'blue'}
2500314588192 2500314588640 2500314589312

###### intersection of set

In [8]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours={'indigo','orange','red'}
extra_colour_set={'sky blue','dark green','black'}
all_colours_set=vibgyor_colours.union(extra_colour_set)
print(all_colours_set)

{'green', 'red', 'yellow', 'black', 'sky blue', 'dark green', 'violet', 'blue', 'orange', 'indigo'}

In [10]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours={'indigo','orange','red'}
extra_colour_set={'sky blue','dark green','black'}
all_colours_set=colour_set.union(remaining_colours).union(extra_colour_set)
print(all_colours_set)

{'green', 'red', 'yellow', 'black', 'sky blue', 'dark green', 'violet', 'blue', 'orange', 'indigo'}

In [15]:
all_colours_set=colour_set.union(remaining_colours).union(extra_colour_set)
print(all_colours_set)
print(all_colours_set.union(extra_colour_set))

{'green', 'red', 'yellow', 'black', 'sky blue', 'dark green', 'violet', 'blue', 'orange', 'indigo'}
{'green', 'red', 'yellow', 'black', 'sky blue', 'dark green', 'violet', 'blue', 'orange', 'indigo'}

#### intersection of sets

In [2]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours={'indigo','orange','red'}
common_colour_set=colour_set.intersection(remaining_colours)
print(common_colour_set)

{'indigo'}

#### extra work

In [21]:
set={1,2,3,4,{34,2,23}}
print(set)

TypeError: unhashable type: 'set'

In [22]:
set={1,2,3,4,[34,2,23]}
print(set)

TypeError: unhashable type: 'list'

#### todays work on sets 8/2/2023

## intersection update

##### difference between intersection and intersection update
in addition to the above intersection() method we have one more method called intersection_update().

There are two key differnces between these two

- intersection() will not update the origibnal set but intersection_update will update the original set with only common elements. 
- intersection will have a return value which is a new set with common elements between two or nmore sets
where as intersection_update will have no return value because no new set is formed and as the set

In [8]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours= {'indigo','orange','red'}
colour_set=colour_set.intersection(remaining_colours)
print(colour_set)
print(id(colour_set))
common_colour_set=colour_set.intersection_update(remaining_colours)
print(common_colour_set)
print(id(common_colour_set))

{'indigo'}
1730745082912
None
140730942582464

In [14]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours= {'indigo','orange','red'}
print(id(colour_set))
print(colour_set)
common_colour=colour_set.intersection(remaining_colours)
print(common_colour)
print(id(colour_set))
colour_set.intersection_update(remaining_colours)
print(colour_set)
print(id(colour_set))

1730746760800
{'blue', 'yellow', 'violet', 'indigo', 'green'}
{'indigo'}
1730746760800
{'indigo'}
1730746760800

In [ ]:
colour_set={'violet','indigo','blue','green','yellow'}

## difference of sets

In [24]:
colour_set={'violet','indigo','blue','green','yellow'}
remaining_colours= {'indigo','orange','red'}
print(colour_set-remaining_colours)
print(colour_set.difference(remaining_colours))

{'yellow', 'blue', 'violet', 'green'}
{'yellow', 'blue', 'violet', 'green'}

#### difference_update

In [26]:
colour_set={'violet','indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours= {'indigo','orange','red'}
colour_set.difference_update(remaining_colours)
print(colour_set)
print(id(colour_set))

{'blue', 'yellow', 'violet', 'indigo', 'green'}
1730746760352
{'blue', 'yellow', 'violet', 'green'}
1730746760352

In [26]:
set_a={1,2,3,4,6,7,8}
print(set_a)
print(id(set_a))
set_b={1,2,3,4,11,22,233,333,444}
set_a.difference_update(set_b)
print(set_a)
print(id(set_a))

{1, 2, 3, 4, 6, 7, 8}
2618923170528
{6, 7, 8}
2618923170528

In [27]:
set_a={1,2,3,4,6,7,8}
print(set_a)
print(id(set_a))
set_b={1,2,3,4,11,22,233,333,444}
set_c=set_a.difference(set_b)
print(set_a)
print(id(set_a))

{1, 2, 3, 4, 6, 7, 8}
2618923171200
{1, 2, 3, 4, 6, 7, 8}
2618923171200

In [28]:
set_a={1,2,3,4,6,7,8}
print(set_a)
print(id(set_a))
set_b={1,2,3,4,11,22,233,333,444}
set_c=set_a.difference(set_b)
print(set_c)
print(set_a)
print(id(set_a))

{1, 2, 3, 4, 6, 7, 8}
2618921443712
{8, 6, 7}
{1, 2, 3, 4, 6, 7, 8}
2618921443712

### symmetric difference of sets

the symmetric differnce operation returns the elements that are unique in both sets.

This operation performed by using symmetric_difference() method or ^ .

In [35]:
set_a={1,2,3,4,6,7,8}
set_b={1,2,3,4,11,22,233,333,444}
set_c= set_a.symmetric_difference(set_b)
print(set_c)

{6, 7, 8, 233, 11, 333, 22, 444}

In [33]:
set_a={1,2,3,4,6,7,8}
set_b={1,2,3,4,11,22,233,333,444}
set_c=set_a^set_b
print(set_c)

{6, 7, 8, 233, 11, 333, 22, 444}

In [38]:
set_a={1,2,3,4,6,7,8}
print(set_a)
print(id(set_a))
set_b={1,2,3,4,11,22,233,333,444}
set_c=set_a.symmetric_difference_update(set_b)
print(set_a)
print(set_c)
print(id(set_a))
print(id(set_c))

{1, 2, 3, 4, 6, 7, 8}
2618951682752
{6, 7, 8, 233, 11, 333, 22, 444}
None
2618951682752
140731285466816

#### subset and superset

In python we can find if a set is a subset or superset of another set or not by using issubset() or
is superset().

In [39]:
set_a={1,2,3,5,6,8,4}
set_b={3,4,5}
set_a issuperset(set_b)

SyntaxError: invalid syntax (2608763492.py, line 3)

In [47]:
set_a={1,2,3,5,6,8,4}
set_b={3,4,5}
set_b.issubset(set_a)

True

In [48]:
set_a={1,2,3,5,6,8,4}
set_b={3,4,5}
set_a.issubset(set_b)

False

In [50]:
set={1,12,1232,123124}
set.issubset(set)

True

In [53]:
set={1,12,1232,123124}
set.issuperset(set)

True

In [45]:
set_a={1,2,3,5,6,8,4}
set_b={3,4,5}
set_a.issuperset(set_b)

True

In [46]:
set_a={1,2,3,5,6,8,4}
set_b={3,4,5}
set_b.issuperset(set_a)

False

# sort of the set

a set is unordered collection of data items, so there is no point in ordering it, if you want to sort it using sort()method but it will return list.
sorted() returns list.

In [57]:
set={1,2,4,5,7,78,9232,945,54}
list= sorted(set)
print(list)
type(sorted(set))

[1, 2, 4, 5, 7, 54, 78, 945, 9232]

list

In [64]:
set_a={1,2,13,24,25,457}
sorted_list=sorted(set_a)
print(sorted_list)

[1, 2, 13, 24, 25, 457]

#### frozen set

- A frozen set is an immutable set . Frozen set is an unordered collection of immutable unique items.

- We can create frozen set by using the frozenset() function , which takes a single iterable oject as a parameter.
- example-

In [65]:
animals={'lion','cheetah','hyena','jaguar'}
f_set=frozenset(animals)
print(f_set)

frozenset({'lion', 'jaguar', 'cheetah', 'hyena'})

In [66]:
f_set.add('suar')

AttributeError: 'frozenset' object has no attribute 'add'

In [70]:
set_a={1,2,32,4,31244}
set_a.add(f_set)
print(set_a)

{32, 1, 2, 4, frozenset({'lion', 'jaguar', 'cheetah', 'hyena'}), 31244}

#### 04 08 2023

- In case we try to add a set to another set , we get hashable type error. (a hashable object is one whose value will not change during its life time . i.e. immutable objects are hashable , like string integer tuple . and therefore sets and list are unhashable.
- to create a nested set we can add frozen set as an item of the outer set.The frozen set is again a set but it is immutable.

In [4]:
number={1,2,3,4,6,7,8,9}
other_number={11,12,13,14,15,16}
nested_set=set((frozenset(number),frozenset(other_number)))
print(nested_set)
type(nested_set)

{frozenset({16, 11, 12, 13, 14, 15}), frozenset({1, 2, 3, 4, 6, 7, 8, 9})}

set