# IMMUTABLE DATA TYPES

#### STRING DATA TYPES

In [1]:
NAME='SURYANSH'
NAME[2]
type(NAME)

str

In [2]:
NAME='SURYANSH'
x=NAME[0:3]
print(x)

SUR

In [3]:
NAME='SURYANSH'
x=NAME[0:3]='okk'
print(x)

TypeError: 'str' object does not support item assignment

In [4]:
NAME='SURYANSH'
x=NAME[1]='t'
print(x)

TypeError: 'str' object does not support item assignment

In [5]:
NAME='SURYANSH'
x=NAME[1]=t
print(x)

NameError: name 't' is not defined

In [6]:
NAME='suryansh'
x=NAME.upper
print(x)

<built-in method upper of str object at 0x000001DEC10774F0>

In [7]:
NAME='suryansh'
x=NAME.upper()
print(x)

SURYANSH

In [8]:
NAME='SURYANSH'
x=NAME.lower
print(x)

<built-in method lower of str object at 0x000001DEC3160CF0>

In [9]:
NAME='SURYANSH'
x=NAME.lower()
print(x)

suryansh

In [10]:
NAME='SURYANSH'
print(id(NAME))
x=NAME.upper()
print(x)
print(id(x))

2056267369712
SURYANSH
2056238759344

In [11]:
NAME='SURYANSH'
print(id(NAME))
x=NAME.upper()
print(x)
print(id(x))
xa=NAME.upper()
print(xa)
print(id(xa))
y=NAME.upper().upper()
print(id(x))
print(id(y))        # string is copied
print(y)

2056267369712
SURYANSH
2056267482224
SURYANSH
2056267489328
2056267482224
2056267482672
SURYANSH

In [12]:
NAME='SURYANSH'
print(NAME.replace('U','b'))

SbRYANSH

In [13]:
NAME='SURYANSH'
print(NAME.replace('UR','bz'))

SbzYANSH

In [14]:
NAME='SURYANSH'
print(NAME.replace('UR','zzzzzzz'))

SzzzzzzzYANSH

In [15]:
NAME='SURYANSH'
print(NAME.replace('a','b'))

SURYANSH

In [16]:
NAME='SURYANSH' #the total count of character is 8 but as all characters have an
NAME.count('')

9

In [17]:
NAME='SURYANSH  '   #since it is counting the space occupied by the string as count q and there are 10 elements here
NAME.count('')      #8 alphabet and 2 space there it gives count as 8+2=1

11

In [18]:
NAME='a'
NAME.count('')

2

In [19]:
NAME="''''"
NAME.count("")

5

In [20]:
NAME="''''"
NAME.count('')

5

In [21]:
NAME="''''"
NAME.count(' )

SyntaxError: unterminated string literal (detected at line 2) (3846764533.py, line 2)

In [22]:
x='S'+'U'+'R'+'Y'+'A'+'N'+'S'+'H'
print(x.count(''))                # 8 alphabet character + 1 string of extremes,whiich holds the concatenated string
print(x)

9
SURYANSH

In [23]:
x='S'+'U'+'R'+'Y'+'A'+'N'+'S'+'H'
print(x.count(""))                # 8 alphabet character + 1 string of extremes,whiich holds the concatenated string
print(x)

9
SURYANSH

In [24]:
NAME='SURYANSH'
NAME.replace(1:3,'as')

SyntaxError: invalid syntax (225028610.py, line 2)

In [25]:
NAME='SURYANSH'
NAME.replace('SUR','SSSSs')

'SSSSsYANSH'

In [26]:
NAME='SURYANSH'
NAME.replace('SU','SSSZXZSs').replace('xz','1')

'SSSZXZSsRYANSH'

In [27]:
NAME='SURYANSH'
NAME.replace('S','X').replace('H','1')

'XURYANX1'

In [28]:
NAME='SURYANSH'
len(NAME)

8

In [29]:
NAME='SURYANSH'

In [30]:
NAME='SURYANSH'
x=ME[::-1]

NameError: name 'ME' is not defined

In [31]:
NAME='SURYANSHASA'
x=(NAME[2:6:2]=='1', '2' , '')
print(x)

(False, '2', '')

In [32]:
NAME='SURYANSHASA'
x=(NAME[2:6:2]=('1', '2' , ''))
print(x)

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2573159656.py, line 2)

In [33]:
NAME="''''"
NAME.count('')

5

In [34]:
NAME="''''"
NAME.count(' ')

0

In [35]:
NAME='vijai    '
NAME.count('  ')

2

#### INT DATA TYPE

In [4]:
list1=[1,2,3,4,5]
list1[:3]=[1]
print(list1)

[1, 4, 5]

In [5]:
list1=[1,2,3,4,5]
list1[:3]=1
print(list1)

TypeError: can only assign an iterable

#### FLOAT DATA TYPE

####  COMPLEX DATA TYPE

In [36]:
12+16j     # j==under root -1

(12+16j)

# tuple data type

Tuple are ordered collection of elements that are unchangable. Tuple is the same as  the list,except the tuple is immutable means we can't modify it.
- duplicacy is allowed
- by enclosing elements in the parenthesis () using a tuple class
- iterable

##### ITERABLE-
- in python ,an iterable refers to an object that can be iterated over , meaning you can loop through its elements one by one . Iterables are a fundamental concept in python's iteration protocol and they are used in various contexts where you need to process elements sequentially , such as in loops and comprehension expressions. examples of built-in Python iterables include lists , tuples , strings , dictionaries (when iterating over  keys , values or items) sets or more

In [7]:
x_=12,11,22,3,3,4,4,4,2,3,23
type(x_)

tuple

In [9]:
x_=[12,11,22].[3,3,4,4,4,2,3,23]
type(x_)

SyntaxError: invalid syntax (1846361285.py, line 1)

In [10]:
x_=[12,11,22],{3,3,4,4,4,2,3,23}
type(x_)

tuple

In [37]:
x_=(12)
type(x_)

int

In [38]:
x_=('s')
type(x_)

str

In [39]:
x_=('s',)
type(x_)

tuple

In [40]:
x_=('s'),
type(x_)

tuple

In [41]:
x_=(12),
type(x_)

tuple

In [42]:
x_=(12),
type(x_,)

tuple

In [43]:
x_=(12),
type(x_)

tuple

In [44]:
type(11,22,)

TypeError: type() takes 1 or 3 arguments

In [45]:
type((11,22,))

tuple

##### operations on tuple

In [46]:
x=[1,2,3,4,5,6,8,8]
y=tuple(x),9
print(y)
print(x,9)

((1, 2, 3, 4, 5, 6, 8, 8), 9)
[1, 2, 3, 4, 5, 6, 8, 8] 9

In [47]:
x=[1,2,3,4,5,6,8,8]
y=tuple((x),9,)
print(y)

TypeError: tuple expected at most 1 argument, got 2

In [48]:
x=[1,2,3,4,5,6,8,8]
y=tuple((x),9)
print(y)

TypeError: tuple expected at most 1 argument, got 2

In [49]:
x=[1,2,3,4,5,6,8,8]
y=tuple([(x),9])
print(y)

([1, 2, 3, 4, 5, 6, 8, 8], 9)

In [50]:
x=[1,2,3,4,5,6,8,8]
y=tuple(x),9
print(y)

((1, 2, 3, 4, 5, 6, 8, 8), 9)

In [51]:
x=[1,2,3,4,5,6,8,8]
y=tuple(x),(9)
print(y)

((1, 2, 3, 4, 5, 6, 8, 8), 9)

In [52]:
x=[1,2,3,4,5,6,8,8]
y=(tuple(x)),(9)
print(y)

((1, 2, 3, 4, 5, 6, 8, 8), 9)

In [53]:
x=[1,2,3,4,5,6,8,8]
y=tuple((tuple(x),9))
print(y)

((1, 2, 3, 4, 5, 6, 8, 8), 9)

In [76]:
x=([]),
type(x)

tuple

In [75]:
x=([])
type(x)

list

In [77]:
x=([],),
type(x)

tuple

In [81]:
x=([,])
type(x)

SyntaxError: invalid syntax (655478711.py, line 1)

In [82]:
x=([1,])
type(x)

list

In [4]:
x=([1,])
type(x)

list

In [6]:
x=([1,],)
print(x[0][0])
type(x[0][0])

1

int

In [15]:
x=([(1,),],)
print(x[0][0])
type(x[0][0])

(1,)

tuple

In [18]:
x=([(1,)])
print(x[0])
type(x[0])

(1,)

tuple

In [11]:
x=([(1,),])
print(x[0][0])
type(x[0][0])

1

int

In [2]:
x=([(1,)])
print(x[0][0])
type(x[0][0])

1

int

In [7]:
a=[1,2,3,4,5]
x=1
a.extend(x)
print(a)

TypeError: 'int' object is not iterable

In [8]:
a=[1,2,3,4,5]
x=[]
a.extend(x)
print(a)

[1, 2, 3, 4, 5]

In [9]:
a=[1,2,3,4,5]
x={}
a.extend(x)
print(a)

[1, 2, 3, 4, 5]

In [11]:
a=[1,2,3,4,5]
x=()
a.extend(x)
print(a)

[1, 2, 3, 4, 5]

In [12]:
a=[1,2,3,4,5]
x=''
a.extend(x)
print(a)

[1, 2, 3, 4, 5]

In [18]:
a=[1,2,3,4,5]
x=""
a.extend(x)
print(a)

[1, 2, 3, 4, 5]

In [19]:
a=[1,2,3,4,5]
x=" "
a.extend(x)
print(a)

[1, 2, 3, 4, 5, ' ']

In [20]:
a=[1,2,3,4,5]
x="      "
a.extend(x)
print(a)

[1, 2, 3, 4, 5, ' ', ' ', ' ', ' ', ' ', ' ']

In [24]:
my_list=[4,5,6,7]
range(4,5,6)

range(4, 5, 6)

In [25]:
my_list=range[4,5,6,7]

TypeError: 'type' object is not subscriptable

In [26]:
my_list=[4,5,6,7]
x=range(my_list)
print(x)

TypeError: 'list' object cannot be interpreted as an integer

In [22]:
my_list=[4,5,6,7]
print(my_list.range())

AttributeError: 'list' object has no attribute 'range'

#### a tuple can have items of different type

In [27]:
number_tuple=(1,2,3,4,5,56)
string_tuple=('12','a','as')
float_tuple=(1.21,1.2111,1.232,1.345)

#### note-
a single item tuple is created by enclosing one item inside parenthesis and then follow it by a comma

In [41]:
a=(1),
type(a)

tuple

In [42]:
a=1,
type(a)

tuple

In [49]:
x=('s')
type(x)

str

In [50]:
x=('s'),
type(x)

tuple

In [51]:
x=[1,2,3,4]
type(x)

list

In [1]:
x=[1,2,3,4]
a=type(x),
print(a)

(<class 'list'>,)

In [2]:
x=[1,2,3,4]
a=type(x),
type(a)

tuple

In [5]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x[0:6]

(1, 2, 3, 4, 6, 8)

In [6]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x[0:6]=[12]

TypeError: 'tuple' object does not support item assignment

In [7]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.append('as')

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.extend('121')

AttributeError: 'tuple' object has no attribute 'extend'

In [1]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
for a in x:
    print(a)

1
2
3
4
6
8
9
0
2
3
4
4
5
5
2
2

to find whether an element is in tuple or not we use if else 
- or we use .index()

#### finding element in a list

In [5]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
if 3 in x:
    print('yes')
else:
    print('no')

yes

In [6]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
if 3.5 in x:
    print('yes')
else:
    print('no')

no

In [7]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(6)

4

In [8]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(609)

ValueError: tuple.index(x): x not in tuple

##### finding whether an element is present between a range of items in a list

In [32]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
u=x[5:9]                      # 5+1=6 in the x list.

u.index(9)

1

In [33]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x[5:9].index(9)

1

In [34]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x[4:9].index(9)               # 4+2=6  in x list.

2

In [24]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(9,0,5)

ValueError: tuple.index(x): x not in tuple

In [25]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(9,0,-1)

6

In [26]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(9,0,7)

6

In [27]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(9,3,7)

6

In [28]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
x.index(9,3,5)

ValueError: tuple.index(x): x not in tuple

In [40]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
for a in x:
    print(a==9)

False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False

In [53]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
for a in x:
    a==9
if a in x:
    print('yes')
else:
    print('no')
    
print(x)

yes
(1, 2, 3, 4, 6, 8, 9, 0, 2, 3, 4, 4, 5, 5, 2, 2)

In [58]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
for a in x:
    a==9.5
if a in x:
    print('yes')
else:
    print('no')

yes

In [68]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2,23)
for a in x:
    a==9.5
    if 9 in x:
        print('yes')
    else:
        print('no')
print(a)

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
23

In [63]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
for a in x:
    a==9.5
    if 9.5 in x:
        print('yes')
    else:
        print('no')

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no

In [70]:
x=(1,2,3,4,6,8,9,0,2,3,4,4,5,5,2,2)
print(id(x))
d=list(x)
print(id(d))
d.append(50)
print(id(d))
e=tuple(d)
print(e)
print(id(e))

1953226250496
1953255291904
1953255291904
(1, 2, 3, 4, 6, 8, 9, 0, 2, 3, 4, 4, 5, 5, 2, 2, 50)
1953225683920

## range

In [1]:
a=70000
b=int(input('withdrawl amount'))
if a-b>0:
    print('cash withdrawl in process')
elif a-b<=50000:
    pr
    print('bank balance is not enough')

withdrawl amount12222
bank balance is not enough