 1.print() is a output. we are studying input function.

In [ ]:
input()  # inside the input bracket wrie the directions only. these directions 
           # are related to the operations which you want to do.

In [ ]:
input(time is 10clock)

In [1]:
input("time is 10 o clock")

time is 10 o clock10

'10'

In [2]:
input("write an odd number")

write an odd number35

'35'

In [1]:
input("india score 143 run")

india score 143 run143

'143'

In [2]:
input("india win junior asian hockey")

india win junior asian hockeyyes

'yes'

In [3]:
input("wrd test champion aus made 321 run ")

wrd test champion aus made 321 run no

'no'

In [ ]:
input("kadar nath people are going")

In [ ]:
input ("tea is reay at4 0clock")

In [ ]:
input ("tea is ready at time")

In [ ]:
input ("dinner ready at 4 0clock")

In [ ]:
input("india win hockey 1985")

In [ ]:
input("time is 4 oclock")

In [ ]:
input("my name is ramesh")

In [ ]:
 input("india win davis cup")
 input("hockey asia cup 1989 india win")

In [1]:
input("odd number")

input("write odd numbe")

odd number35
write odd numbe45

'45'

In [2]:
input("write even number")

input("write even nuber ")

write even number44
write even nuber 56

'56'

In [3]:
input('write class 6student 6 rool no')

write class 6student 6 rool no4567

'4567'

In [6]:
x= input('write your mother name:')
         
y= input('student name:')

z= input('student age:')

write your mother name:kamla
student name:arvind
student age:57

In [8]:
x= input('write your mother name:')
         
y= input('student name:')

z= input('student age:')

q=x+y+z      # concatenation

print(q)

write your mother name:kamla
student name:arvind
student age:57
kamlaarvind57

In [2]:
x= input('write your number:')
         
y= input('student roll number:')

z= input('student age:')

r=x+y+z
print(r)

write your number:567
student roll number:6789
student age:57
567678957

In [3]:
type()

str

In [4]:
print("x+y=z")

x+y=z

In [2]:
x=input("enter name")
y=input("enter addres")
z=input("enter date")
q=x+y+z
print(q)

enter namehem
enter addreshal
enter date34may
hemhal34may