- removing items from as set- remove() vs discard()
- removing elements from a List
- remove specific item
- remove all occurence of a specific item
- remove item present at a given index
- remove the range of given items
- remove all items
- removing elements from a list
- removing items from a dictionary

##### remove() vs discard()

In [34]:
set1={1,2,3,45,6,7,34,433}         
set1.remove(2)
print(set1)

{1, 3, 34, 6, 7, 45, 433}

In [35]:
set1={1,2,3,45,6,7,34,433}
set1.remove(0)
print(set1)

KeyError: 0

In [ ]:
set1={1,2,3,45,6,7,34,433}
set1.discard(2)
print(set1)

In [28]:
set1={1,2,3,45,6,7,34,433}
set1.discard(0)
print(set1)

{1, 2, 3, 34, 6, 7, 45, 433}

In [79]:
list_A=[1,1,2,1,4,1,6,7,9]
list_A.remove(all,1)
print(list_A)

TypeError: list.remove() takes exactly one argument (2 given)

In [39]:
list_A=[1,1,2,1,4,1,6,7,9]  # takes only one argument 
list_A.remove(2,1)
print(list_A)

TypeError: list.remove() takes exactly one argument (2 given)

In [38]:
list_A=[1,1,2,1,4,1,6,7,9]  # takes only one argument 
list_A.discard(2)
print(list_A)

AttributeError: 'list' object has no attribute 'discard'

- adding items to the list
- append item at the end of the list
- add item at the specified position in the list
- adding items to the dictionary

In [11]:
list1=[1,2,3,4,5,6,667]
list1.append(12)
print(list1)

[1, 2, 3, 4, 5, 6, 667, 12]

In [12]:
list1=[1,2,3,4,5,6,667]
list1.append([12,23])
print(list1)

[1, 2, 3, 4, 5, 6, 667, [12, 23]]

In [14]:
list1=[1,2,3,4,5,6,667]
list1.insert(1,99)
print(list1)

[1, 99, 2, 3, 4, 5, 6, 667]

In [15]:
list1=[1,2,3,4,5,6,667]
list1.insert(1,(99,111,212,432))
print(list1)

[1, (99, 111, 212, 432), 2, 3, 4, 5, 6, 667]

In [17]:
list1=[1,2,3,4,5,6,667]
list1.insert(1,99,111,212,432)  # can add only one item at one time at specified index value
print(list1)

TypeError: insert expected 2 arguments, got 5

In [20]:
dict1={'fruit':'mango', 'weapons':'AK-47','social media':'instagram'}
dict1.update({'singer':'arijit singh'})
print(dict1)

{'fruit': 'mango', 'weapons': 'AK-47', 'social media': 'instagram', 'singer': 'arijit singh'}

SET OPERATORS


- union of sets
- intersection of sets
- intersection update
- difference of sets
- difference update
- symmetric difference of sets
- symmetric difference update
- copying of set
- subset and superset
- find whether two sets are disjoint
- sort the set
- using python built in functions for set
- all() and any()
- max() and min()

In [21]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.intersection(set2)

{3, 4, 5}

In [24]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.intersection_update(set2)
print(set1)

{3, 4, 5}

In [26]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.difference(set2)

{1, 2}

In [27]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1-set2

{1, 2}

In [29]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.difference_update(set2)
print(set1)

{1, 2}

In [30]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [32]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 6, 7}

In [36]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.copy()

{1, 2, 3, 4, 5}

In [37]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.union(set2).copy()

{1, 2, 3, 4, 5, 6, 7}

In [38]:
set1={1,2,3,4,5}
set2={3,4,5}
print(set1.issuperset(set2))
print(set1.issubset(set2))

True
False

In [46]:
set1={1,2,3,4,5} 
set2={33,44,55}                  #when intersection is null set or 0 then sets are disjoint.
print(set1.intersection(set2))
print(set1.isdisjoint(set2))

set()
True

In [68]:
set1={1,2,3,4,5} 
set2={3,4,55}                  #when intersection is a set then sets are not disjoint.
print(set1.intersection(set2))
print(set1.isdisjoint(set2))

{3, 4}
False

In [69]:
set1={1,2,3,4,5} 
set2={33,44,55}
set1.isdisjoint(set2)

True

In [43]:
set1={1,2,3,4,5} 
set2={3,4,5}
set1.isdisjoint(set2)

False

In [66]:
set1={1,2,3,4544,5,6,999999}
print(set1)
frozen_set=frozenset(set1)
print(frozen_set)
set1.add(frozen_set)
print(set1)

{4544, 1, 2, 3, 5, 6, 999999}
frozenset({4544, 1, 2, 3, 5, 6, 999999})
{4544, 1, 2, 3, 5, 6, frozenset({4544, 1, 2, 3, 5, 6, 999999}), 999999}

In [75]:
set1={1,2,3,4,5} 
set2={3,4,5}
set1_sort=sorted(set1)
set1_sort

[1, 2, 3, 4, 5]

In [85]:
set1={1,2,3,4,5} 
set2={3,4,5}
print(min(set2))
max(set1)

3

5

In [83]:
list1=[1,2,3,4,5,'sad']
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
reverse

List Operations

- sort List using sort()
- reverse a list using reverse
- python built-in-function
- using max() and min()
- using sum()
- all()
- any()
- nested list

dictionary operations

- join two dictionary 
- using update () method
- using **kwargs to method
- join two dictionaries having a few items in common
- copy a dictionary
- copy using the assignment operator
- nested dictionary 
- add multiple dictionaries inside a single dictionary
- sort dictionary
- dictionary comprehension
- python built-in-functions with dictionary
- max() and min()
- all()
- any()

- frozenset()
- when to use frozenset()
- nested sets()
- set comprehension

-  when to use set data structure ?
-  when to use dictionaries

## summary of list operations

l1=[10,20,30,40,50]
l2=[60,70,80]
- x in l1 :  check if list l1 contains item x
- x not in l2 : check if list l1 does not contain item x.
- l1+l2 : concatenate the list l1 and l2 creates a new list containing the items from l1 and l2
- l1*5 : repeats the list l1 5 times
- l1[i]: get the item at index i. example l2[2] is 30 
- l1[i:j] : list slicing . get the items from index  i up to index j (excluding j) as a list . e.g.- l1[0:2] is [10,20]
- l1[i:j:k] : list slicing with step.Returns a list with the items from index i up to index j taking every k-th item. an e.g
                         l1[0:4:2] is [10,30]
- len(l1): returns a count of total items in a list.
- l2.count(60) :  returns the number of items a particular item (60)appears in a list. the answer is 2
- l1.index(0)  : RETURNS THE INDEX NUMBER OF A PARTICUALR ITEM
- l1.index(30,2,5)   :  RETURNS THE INDEX NUMBER OF A PARTICULAR ITEM (30) IN A LIST . BUT SEARCH RETURNS THE ITEMS WITH THE                          MAXIIMUM VALUE OF LIST. THE ANSWER IS ONLY FROM INDEX NUMBER 2 TO 5
- min() : RETURNS THE ITEM WITH THE MINIMUM VALUE . 
- max() : RETURNS THE ITEM WITH THE MAXIMUM VALUE.

- l1.append      : add item at the end of a list 
- l1.append[a,d,f,g] : append the nested list at the end
- l1[x]=a : modify the list list by replacing element present at index x with a
- l.remove(x) : removes the first occurence of element (x) in the list
- pop(2)  removes and returns the value of item present at index 2 from the list
- l.clear() : make the list empty
- l1=l2.copy() : copy l1 into l2

In [ ]:
list1=[1,2,3,45,6,7,34,433]        
list1.remove(2)
print(list1)

In [65]:
list1=[1,2,3,45,6,7,34,433]        
list1.remove(list1[1:5])
print(list1)

ValueError: list.remove(x): x not in list

In [63]:
list1=[1,2,3,45,6,7,34,433]        
list1.remove([list1[1:5]])
print(list1)

ValueError: list.remove(x): x not in list

In [44]:
list1=[1,2,3,1,45,6,7,2,34,433]         # removes first occuring 2
list1.remove(2)
print(list1)

[1, 3, 1, 45, 6, 7, 2, 34, 433]

In [49]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]         # removes first occuring 2
print(list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2))
print(list1)

None None None None None None
[1, 3, 1, 45, 6, 7, 34, 433, 2, 2]

In [ ]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]         # removes first occuring 2
print(list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2),list1.remove(2))
print(list1)

In [51]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.pop(5)
print(list1)

[1, 2, 3, 1, 45, 7, 2, 34, 433, 2, 2, 2, 2, 2, 2]

In [52]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.pop(5,6)
print(list1)

TypeError: pop expected at most 1 argument, got 2

In [54]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.pop(5:7)
print(list1)

SyntaxError: invalid syntax (4242624132.py, line 2)

In [59]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.pop([5:7])
print(list1)

SyntaxError: invalid syntax (726170720.py, line 2)

In [58]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.pop([list1[5:7]])
print(list

SyntaxError: incomplete input (1399076573.py, line 3)

In [67]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1.clear()
print(list1)

[]

In [69]:
list1={1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2}
list1.clear()
print(list1)

set()

In [70]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1[12]=2112
print(list1)

[1, 2, 3, 1, 45, 6, 7, 2, 34, 433, 2, 2, 2112, 2, 2, 2]

In [71]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2] 
list1[1:12]=2112
print(list1)

TypeError: can only assign an iterable

In [74]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]  # replace the list from index number 1 to 11 by [2112]
list1[1:12]=[2112]
print(list1)

[1, 2112, 2, 2, 2, 2]

In [75]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]   # replace the list from index number 1 to 11 by [2112,1111]
list1[1:12]=[1111,2112]
print(list1)

[1, 1111, 2112, 2, 2, 2, 2]

In [9]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]   # replace the list from index number 1 to 11 by [2112,1111]
list1[1:12]=1111,2112 ,1121212
print(list1)

[1, 1111, 2112, 1121212, 2, 2, 2, 2]

In [10]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]   # replace the list from index number 1 to 11 by [2112,1111]
list1[1:12]=2112,1121212
print(list1)

[1, 2112, 1121212, 2, 2, 2, 2]

In [77]:
list1=[1,2,3,1,45,6,7,2,34,433,2,2,2,2,2,2]   # replace the list from index number 1 to 11 by [2112,1111]
list1[1:12]=1111,2112,1121212
print(list1)

[1, 1111, 2112, 1121212, 2, 2, 2, 2]

In [83]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.append(1)
print(list_1)

[1, 2, 3, 4, 6, 7, 8, 9, 989, 9, 1]

In [84]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.append([2,2,2,1])
print(list_1)

[1, 2, 3, 4, 6, 7, 8, 9, 989, 9, [2, 2, 2, 1]]

In [85]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.append((2,2,2,1))
print(list_1)

[1, 2, 3, 4, 6, 7, 8, 9, 989, 9, (2, 2, 2, 1)]

In [87]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.extend(((2,2,2,1)))
print(list_1)

[1, 2, 3, 4, 6, 7, 8, 9, 989, 9, 2, 2, 2, 1]

In [88]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.extend([(2,2,2,1)])
print(list_1)

[1, 2, 3, 4, 6, 7, 8, 9, 989, 9, (2, 2, 2, 1)]

In [ ]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.extend('siea')
print(list_1)

In [ ]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1.extend(['siea'])
print(list_1)

In [ ]:
list4=[12,34,65,[2345,5687,355,[3566,578,777,[23,90,[1,2,5,[34,56]]]]]]

In [ ]:
list4[3][3][3][2][3][0]

In [ ]:
list_1= [1,2,3,4,6,7,8,9,989,9]
list_1[2]

In [ ]:
'vijaiclasses','' ,''

In [ ]:
list_a=[1,1,1,1,4,5,6,4,3,4444,5,5,5,5]
x=set(list_a)
sorted(x)
print(x)

In [70]:
list1=[1,2,3,4,5,7]
sum(list1)

22

In [74]:
list1=[1,2,3,4,5,7,'asas']
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'