In [1]:
input('quotation of mark twain:')

quotation of mark twain:5

'5'

In [5]:
input('employee name')

employee name{1,3}

'{1,3}'

In [6]:
input([1,2,3])

[1, 2, 3]{1,4}

'{1,4}'

In [8]:
input('employee name')

employee name'suryansh'

"'suryansh'"

In [9]:
input('employee name')

employee namesuryansh

'suryansh'

In [13]:
name=input('enter employee name')
salary=input('enter salary')

enter employee name'ok'
enter salary'no'

In [1]:
name=input('enter employee name:')
salary=input('enter salary:')
company=input('enter company name:')
print('\n')
print('printing employee details')
print('name','salary','company')
print(name, company , salary)
type(print(name))

enter employee name:suryansh
enter salary:11222
enter company name:gu gal


printing employee details
name salary company
suryansh gu gal 11222
suryansh

NoneType

In [1]:
name=input('enter employee name:')
salary=input('enter salary:')
company=input('enter company name:')
print('\n')
print('printing employee details')
print('name','salary','company')
print(name,',',company,',',salary)
type(print(name))

enter employee name:suryansh
enter salary:11222
enter company name:gu gal


printing employee details
name salary company
suryansh , gu gal , 11222
suryansh

NoneType

In [2]:
name=input('enter employee name:')
salary=input('enter salary:')
company=input('enter company name:')
print('\n')
print('printing employee details')
print('name','salary','company')
print(name+company,',',company,',',salary)
type(print(name))

enter employee name:suryansh
enter salary:11222
enter company name:gu gal


printing employee details
name salary company
suryanshgu gal , gu gal , 11222
suryansh

NoneType

In [3]:
name=input('enter employee name:')
salary=input('enter salary:')
company=input('enter company name:')
print('\n')
print('printing employee details')
print('name','salary','company')
print(name+company,company,salary)
type((name))

enter employee name:'a'
enter salary:'s'
enter company name:'s'


printing employee details
name salary company
'a''s' 's' 's'
'a'

NoneType

In [ ]:
name=input(int(1))
type(name)
salary=input('enter salary:')
company=input('enter company name:')
print('\n')
print('printing employee details')
print('name','salary','company')
print(name+company,company,salary)
type(print(name))