range(start,stop,sequence)
range has three 
two are optional *start(lower limit) and *stop(upper limit)               




# step doesn't take the last value of upper limit
# works only with the for loop

In [41]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in range(10):
    print(i,end='')

0123456789

In [44]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [56]:
for i in range(10):
    print(i,end='''''')

0123456789

In [62]:
for i in range(2,10,-1):
     print(i,end='  ')

In [59]:
for i in range(10, 1,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2

In [48]:
for i in range(-1):
    print(i,end=' ')

In [49]:
for i in range(10, 16,1):
    print(i,end=' ')

10 11 12 13 14 15

In [50]:
for i in range(10.5, 55.3,0.2):    # range function only works with the integers
    print(i,end=' ')

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
for i in range('a','z','s'):    # range function only works with the integers
    print(i,end=' ')

In [ ]:
for i in range('a','z','1'):    # range function only works with the integers
    print(i,end=' ')

In [51]:
for i in range(1,12,0):    # range function only works with the integers
    print(i,end=' ')

ValueError: range() arg 3 must not be zero

In [ ]:
for i in range(1,12,2):  #range function only works with the integers
    print('current value ofi',i)

#### iterate a list using range() and for loop

In [52]:
list1=['paisa','uma',20,30,75.5,34,32]
for i in range(len(list1)):
    print(list1[i])

paisa
uma
20
30
75.5
34
32

In [53]:
list1=['paisa','uma',34,75.5]
for i in range(len(list1)):
    print(list1)

['paisa', 'uma', 34, 75.5]
['paisa', 'uma', 34, 75.5]
['paisa', 'uma', 34, 75.5]
['paisa', 'uma', 34, 75.5]

In [54]:
list1=['paisa','uma',34,75.5]
for i in range(len(list1)):
    print(list1[i],end=' ')

paisa uma 34 75.5

## reverse range

In [5]:
#### using neagative step
for i in range(10,6,-1):
    print(i,end=',')

10,9,8,7,

In [7]:
#### using neagative step   #it gives no output
for i in range(10,16,-1):
    print(i,end=',')

In [9]:
#### using neagative step   #it gives no output
for i in range(13,1,1):
    print(i,end=',')

In [3]:
for i in range(10,1,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2

In [19]:
#### using neagative step
for i in range(-1,-10,-1):
    print(i,end=',')
    #### using neagative step
x=list((i,end=','))

-1,

TypeError: 'NoneType' object is not iterable

In [12]:
## convert range to list
for i in range(1,10,2):
    print(i)
x=list(range)

1
3
5
7
9

TypeError: 'type' object is not iterable

In [16]:
## convert range to list
for i in range(1,10,2):
    print(i)
print(id(i))
type(i)

1
3
5
7
9
2299489550832

int

In [18]:
#### using neagative step
for i in range(-1,-10,-1):
    print(i,end=',')
x=list(i,end=',')
print(x)

-1,-2,-3,-4,-5,-6,-7,-8,-9,

TypeError: list() takes no keyword arguments

In [2]:
list1=list(range(1,10,1))
print(list1)
for i in list1:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9

In [3]:
list1=list(range(1,10,1))
print(list1)
for i in list1:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9

###### accessing and modifying the items of a list using range:

In [8]:
sample_list=list(range(10,100,10))
for i in range(0,len(sample_list),1):
    sample_list[i]=sample_list[i]*2
print(sample_list)

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [26]:
my_list=[6,4,6,8,6,12,6,9,6,9,6,9,6,6,6,6,6,6,6,6,6,8,6,8]
for x in my_list:
    print(x)
print(my_list)

6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
4
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
8
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
12
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
9
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
9
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
9
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
8
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
6
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]
8
[6, 4, 6, 8, 6, 12, 6, 9, 6, 9, 6, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 8]

In [69]:
my_list=[6,4,8,6,12,6,9,6,9,6,9,6,6,6,6,6,6,8,6,8]
for x in my_list:
    my_list.remove(6)
    
print(my_list)

[4, 8, 12, 9, 9, 9, 8, 6, 6, 6, 8]

In [63]:
my_list=[6,4,6,8,6,12,6,9,6,9,6,9,6,6,6,6,6,6,6,6,6,8,6,8]
for x in my_list:
    my_list.repla(4)
print(my_list)

ValueError: list.remove(x): x not in list

In [58]:
my_list=[9,6,4,6,8,6,12,6,9,9,6,9,6,9,6,6,6,6,6,6,6,6,6,8,6,8]
for y in my_list:
    my_list.remove(9)
print(my_list)

ValueError: list.remove(x): x not in list

In [1]:
my_list=[6,4,6,8,6,12,6,9,6,9,6,9,6,6,6,6,6,6,6,6,6,8,6,8]
for y in my_list:
    my_list.remove(6)
    my_list.remove(6)
print(my_list)

[4, 8, 12, 9, 9, 9, 8, 8]

In [4]:
my_list=[6,4,6,8,6,12,6,9,6,9,6,9,6,6,6,6,6,6,6,6,6,8,6,8]
for item in my_list:
    my_list.remove(6)
print(my_list)

[4, 8, 12, 9, 9, 9, 6, 6, 6, 8, 6, 8]

In [15]:
my_list=[6,4,6,8,6,12,6,9,6,9,6,9,6,6,8,8,6]
for item in my_list:
    my_list.remove(6)
print(my_list)

[4, 8, 12, 9, 9, 9, 8, 8]

In [6]:
my_list=[8,4,8,8,8,12,8,9,8,9,8,9,8,8,8,8,8,8,8,8,8,8,8,8,6]
for item in my_list:
    my_list.remove(6)
print(my_list)

ValueError: list.remove(x): x not in list

In [20]:
my_list=[8,4,8,8,8,12,8,9,8,9,8,9,8,8,8,8,8,6]
for item in my_list:
    my_list.remove(8)
    print(my_list)
    my_list.remove(8)
    print(my_list)

[4, 8, 8, 8, 12, 8, 9, 8, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 8, 8, 12, 8, 9, 8, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 8, 12, 8, 9, 8, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 12, 8, 9, 8, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 12, 9, 8, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 12, 9, 9, 8, 9, 8, 8, 8, 8, 8, 6]
[4, 12, 9, 9, 9, 8, 8, 8, 8, 8, 6]
[4, 12, 9, 9, 9, 8, 8, 8, 8, 6]
[4, 12, 9, 9, 9, 8, 8, 8, 6]
[4, 12, 9, 9, 9, 8, 8, 6]
[4, 12, 9, 9, 9, 8, 6]
[4, 12, 9, 9, 9, 6]

In [11]:
my_list=[8,4,8,8,8,12,8,9,8,9,8,9,8,8,8,8,8,8,8,8,8,8,8,8,6]
for item in my_list:
    my_list.remove(6)
print(my_list)

ValueError: list.remove(x): x not in list

In [10]:
my_list=[8,4,8,8,8,12,8,9,8,9,9,6,8]
for item in my_list:
    my_list.remove(8)
print(my_list)

[4, 12, 9, 9, 9, 6]

#### inclusive range

In [3]:
for i in range(1,12,1):f
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11

In [5]:
for i in range(1,12,1):
    print(list(i,end=' '))

TypeError: list() takes no keyword arguments

In [11]:
sample_list=list(range(10,100,10))
for i in range(0,len(sample_list),1):
    
    sample_list[i]=sample_list[i]*2
print(sample_list)

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [17]:
sample_list=list(range(10,100,10))
print(sample_list)
x=list(range(0,len(sample_list),1))
print(x)
for i in range(0,len(sample_list),1):
    sample_list[i]=sample_list[i]*2
print(sample_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [14]:
for i in (range(10,100,10)):
    print(i,end=' ')

10 20 30 40 50 60 70 80 90