In [1]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
for i in list1:
    if i>6:
        print('numbers greater than 6')
    else:
        print('numbers smaller than 6')

numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6

In [3]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
a=[]
b=[]
for i in list1:
    if i>6:
        print('numbers greater than 6')
        a.append(i)
    else:
        print('numbers smaller than 6')
        b.append(i)
print(a)
print(b)

numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers smaller than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
numbers greater than 6
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6]

In [4]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
a=[]
b=[]
for i in list1:
    if i>6:
        a.append(i)
    else:
        b.append(i)
print(a)
print(b)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6]

In [16]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==str:
        a.append(i)
        if type(i)==float:
            c.append(i)
        
    else:
        b.append(i)
print(a)
print(b) 
print(c)

['sda', 'adad']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15.1, 16.2, 17, 18]
[]

In [21]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float:
        a.append(i)
        if type(i)==str:
            c.append(i)
        
else:
        b.append(i)
print(a)
print(b) 
print(c)

[15.1, 16.2]
[18]
[]

In [22]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float:
        a.append(i)
        if type(i)==str:
            c.append(i)
        
    else:
        b.append(i)
print(a)
print(b) 
print(c)

[15.1, 16.2]
[1, 'sda', 'adad', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18]
[]

In [25]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float:
        a.append(i)
        type(i)==str
        c.append(i)
        
    else:
        b.append(i)
print(a)
print(b) 
print(c)

[15.1, 16.2]
[1, 'sda', 'adad', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18]
[15.1, 16.2]

In [20]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float:
        a.append(i)
    else :
        b.append(i)
print(a)
for a in b :
    if type(a)==
print(c)

[15.1, 16.2]
[1, 'sda', 'adad', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18]
[]

In [30]:
x=[1,2,3,4,5,6,7,8,9,10]
number=int(input('table of: '))
for i in x:
    print(number*i,end=',')

table of: 2
2,4,6,8,10,12,14,16,18,20,

In [33]:
x=[1,2,3,4,5,6,7,8,9,10]
number=int(input('table of: '))
for i in x:
    print(number,'x',i,'=',number*i)

table of: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float,len(i):
        a.append(i)
        if type(i)==str:
            c.append(i)
        
    else:
        b.append(i)
print(a)
print(b) 
print(c)

In [39]:
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
list_with_no_duplicates=list(set(my_list))
print(list_with_no_duplicates)
new_list=[]
for x in my_list:
    if my_list.count(x)>1:
        new_list.append(x)
repeating_element_list=list(set(new_list))
print(repeating_element_list)

[100, 10, 43, 20, 55, 56, 'Raj']
[10, 55]

In [9]:
my_list=[10,55,20,10,55,"Raj",10,55,100,55,10,10,43,56,55,10,10,55]
list_with_no_duplicates=list(set(my_list))
print(list_with_no_duplicates)
new_list=[]
for x in my_list:
    if my_list.count(x)>1:
        new_list.append(x)
repeating_element_list=list(set(new_list))
print(repeating_element_list)
x=int(input('duplicates of number:'))
print('number of dupliate:',new_list.count(x))

[100, 10, 43, 20, 55, 56, 'Raj']
[10, 55]
duplicates of number:55
number of dupliate: 6

In [ ]:
list1=[1,'sda','adad',2,3,4,5,6,7,8,9,10,11,12,13,14,15.1,16.2,17,18]
a=[]
b=[]
c=[]
for i in list1:
    if type(i)==float:
        a.append(i)
    else:
        b.append(i)
for i in list1:
    if type(i)==str:
print(a)
print(b) 
print(c)

Make a list and it should contain both strings and integers.Make a program so that it forms a separate list for strings and integers also it forms a separate list for strings whose length is >5.Also it forms a separate list for even numbers

In [2]:
y=[1,2,3,4,5,6,'21211212','1312','133131232']
z=[]
a=[]
b=[]
c=[]
for x in y:
    if type(x)==str:
        z.append(x)
    else:
        a.append(x)
print(z)
print(a)
af=[]
for pa in z:
    if len(pa)>5:
        af.append(pa)
print(af)
kad=[]
for g in a:
    if g%2==0:
        kad.append(g)
print(kad)

['21211212', '1312', '133131232']
[1, 2, 3, 4, 5, 6]
['21211212', '133131232']
[2, 4, 6]

In [17]:
y=[1,2,3,4,5,6,'21211212','1312','133131232']
z=[]
a=[]
b=[]
c=[]
for x in y:
    if type(x)==str:
        z.append(x)
    else:
        a.append(x)
print(z)
print(a)
af=[]
for pa in z:
    if len(pa)>5:
        af.append(pa)
print(af)
kad=[]
for g in a:
    if g%2==0:
        kad.append(g)
print(kad)

['21211212', '1312', '133131232']
[1, 2, 3, 4, 5, 6]
['21211212', '133131232']
[2, 4, 6]

In [79]:
44%2

0

In [3]:
3%2

1

In [8]:
int(1.8)

1

In [30]:
list=[1,1,1,1,1,1,1,1,2,3,4,1,23,41,1,1,1,4,1] 
for a in list:
    if a==1:
        list.remove(a)
        list.remove(a)
        list.remove(a)
        
print(list)

[2, 3, 4, 23, 41, 4, 1]

In [13]:
lista=['suryansh','neeraj','ayush','shailja','pawan']
listb=[]
for i in lista:
    for x in i:
print(listb)

IndentationError: expected an indented block after 'for' statement on line 4 (289401739.py, line 6)

In [6]:
'suryansh'>'neeraj'

True

In [16]:
x=int(input('number1:'))
y=int(input('number2:'))
a=x/y
print('division:',a)
b=x*y
print('multiplication:',b)
c=x+y
print('addition:',c)
d=x-y
print('subtraction',d)

number1:20
number2:10
division: 2.0
multiplication: 200
addition: 30
subtraction 10

In [1]:
x=int(input('number1:'))
y=int(input('number2:'))
if input('-'):
    print(x+y)
else:
    print(x,y)

number1:10
number2:10
-
10 10

In [ ]:
x=int(input('number1:'))
y=int(input('number2:'))
if print(input('+')):
    print(x+y)
elif print(input('-')):
    print(x-y)
elif print(input('*')):
    print(x*y)
elif print(input('/')):
    print(x/y)

In [ ]:
x=int(input('number1:'))
y=int(input('number2:'))
if input('+'):
    print(x+y)
elif input('-'):
    print(x-y)
elif print(input(x*y)):
    print(x*y)
elif print(input('/')):
    print(x/y)
else:
    print('no need to print')

In [ ]:
x=int(input('number1:'))

In [13]:
x=int(input('number1:'))
y=int(input('number2:'))
if input('calculate-'):
    if input('add-'):
        print(x+y)
    if input('subt-'):
        print(x-y)
    if input('div-'):
        print(x/y)
    if input('mult-'):
        print(x*y)
    else:
        print('no need to calculate')

number1:2
number2:32
calculate-2
add-2
34
subt-2
-30
div-2
0.0625
mult-2
64

In [12]:
lista=['suryansh','neeraj','ayush','shailja','pawan']
listb=[]
for i in lista:
    if i>=i:
        print('true')

true
true
true
true
true

In [ ]:
x=int(input('number1:'))
y=int(input('number2:'))
if input('calculate-'):
    if input('add-'):
        print(x+y)
    if input('subt-'):
        print(x-y)
    if input('div-'):
        print(x/y)
    if input('mult-'):
        print(x*y)
    else:
        print('no need to calculate')

In [6]:
x=int(input('number1:'))
y=int(input('number2:'))
if input('calculate-'):
    if input('add-'):
        print(x+y)
    else: 
        input('moving to next one')    
    if input('subt-'):
        print(x-y)
    if input('div-'):
        print(x/y)
    if input('mult-'):
        print(x*y)
    else:
        print('no need to calculate')

number1:12
number2:12
calculate-do it
add-do it
24
subt-do it
0
div-do it
1.0
mult-do it
144

In [ ]:
if int(input(x*y))
   print(multiplied)
elif int()

In [16]:
x=int(input('asa'))

asa

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x=[int(input('number'))]
for a in x,y:
    if input('multiply'):
        print(a)

In [1]:
first_number = input(" enter first number")
second_number = input("enter second number")

 enter first number12
enter second number13

In [1]:
print('GENERAL CALCULATOR')
a=float(input('enter 1st no.'))
b=float(input('enter 2nd no.'))
if '/' in float(input('calculate')):
    print(a+b)
elif '-' in float(input('calculate-')):
    print(a-b)
elif '*' in float(input('calculate')):
    print(a*b)
else:
    print('no')

GENERAL CALCULATOR
enter 1st no.12
enter 2nd no.12
calculate1

TypeError: argument of type 'float' is not iterable

In [ ]:
print('GENERAL CALCULATOR')
a=float(input('enter 1st no.'))
b=float(input('enter 2nd no.'))
if '/' in float(input('calculate')):
    print(a+b)
elif '-' in float(input('calculate-')):
    print(a-b)
elif '*' in float(input('calculate')):
    print(a*b)
else:
    print('no')

In [2]:
print('GENERAL CALCULATOR')
a=float(input('enter 1st no.'))
b=float(input('enter 2nd no.'))
1=a+b
2=a-b
3=a*b
4=a/b
if float(input('add'):
    print(1)
elif '-' in float(input('calculate-')):
    print(a-b)
elif '*' in float(input('calculate')):
    print(a*b)
else:
    print('no')

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (820047887.py, line 4)

In [1]:
print('GENERAL CALCULATOR')
a=float(input('enter 1st no.'))
b=float(input('enter 2nd no.'))
a1=a+b
b2nd=a-b
c3rd=a*b
d4th=a/b
if input('add'):
    print(a1)
elif input('subtract'):
    print(b2nd)
elif input('multiply'):
    print(c3rd)
elif input('divide'):
     print(d4th)  
else:
    print('s')

GENERAL CALCULATOR
enter 1st no.11
enter 2nd no.12
add
subtract
multiply
divideg
0.9166666666666666

In [12]:
print('GENERAL CALCULATOR')
a=int(input('enter 1st no.'))
b=int(input('enter 2nd no.'))
c=[ int(input('add'))]
for a in c: 
    if input('add'):
        d=(a+b)
        c.append(d)
        
print(c)

GENERAL CALCULATOR
enter 1st no.1
enter 2nd no.1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add11
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add1
add
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [9]:
a=['suryansh',5,'ti',3,4,6,8,10,11.1,11.4,11.6]
b=[]
c=[]
d=[]
for i in a:
    if type(i)==int:
        if i>=6:
            b.append(i)
print(b)       
    elif type(i)==str:
        if len(i)>3
           print(c.append(i))
print(c)

IndentationError: unexpected indent (1274548170.py, line 10)

In [16]:
a=['suryansh',5,'ti',3,4,6,8,10,11.1,11.4,11.6]
b=[]
c=[]
d=[]
for i in a:
    if type(i)==int:
        if i>=6:
            b.append(i)
print(b)       
    elif type(i)==str:
         if len(i)>3
            print(c.append(i))
print(c)

IndentationError: unexpected indent (1342562071.py, line 10)

In [13]:
y=[1,2,3,4,5,6,'suryansh','ti','at','subhaditya']
z=[]
a=[]
b=[]
c=[]
for x in y:
    if type(x)==str:
        z.append(x)
    else:
        a.append(x)
print(z)
print(a)
f=[]
for pa in z:
    if len(pa)>5:
        f.append(pa)
print(f)
kad=[]
for g in a:
    if g%2==0:
        kad.append(g)
print(kad)

['suryansh', 'ti', 'at', 'subhaditya']
[1, 2, 3, 4, 5, 6]
['suryansh', 'subhaditya']
[2, 4, 6]

In [ ]:
list_of_numbers=list(range(-10,10))
calc=int(input('a'))
for x in list_of_numbers:
    x==5
    if z=='+'lculate:
        print(xx)

In [3]:
person={'name': 'khushi', 'country':'usa', 'telephone':1212 }
for i in person:
    print(person.get(i),end=',')

khushi,usa,1212,

In [5]:
person={'name': 'khushi', 'country':'usa', 'telephone':[1212]}
for i in person:
    if type(person.get(i))==list:
            print(i)

telephone

In [11]:
person={'name': 'khushi', 'country':'usa', 'telephone':[12134]}
l=[]
for i in person:
    if type(person.get(i))==list:
            l.extend([i,person.get(i)])           
print(l)

['telephone', [12134]]

In [4]:
a=(range(8,13),17)
x=input('enter account number :')
if len(x) not in a:
if len(x) not in a:
    print('enter valid account number')
    =input('enter your pin :')
    if y==4: 
        print('enter valid pin')
    else:
        print('choose what you want to proceed in :n/ 1.')

enter account number :123344
enter valid account number
enter your pin :
choose what you want to proceed in :n/ 1.