# sets

items of sets are immutable but set is mutable.

- #unordered , indexing not possible
- #unique
- #unchangable

In [10]:
list_a=[set,{1,2,3,4,5,6,7,8}]
print(list_a)

[<class 'set'>, {1, 2, 3, 4, 5, 6, 7, 8}]

In [52]:
list=[{set,{1,2,3,5,7,6}}]

TypeError: unhashable type: 'dict'

In [17]:
set={}
print(set)
print(type(set))

{}
<class 'dict'>

In [15]:
# when we dont passs any item to the set constructor then it will be an empty set.
set_a={}
print(set_a)
print(type(set_a))

{}
<class 'dict'>

In [12]:
set={1,2,4,5,6,[2,4]} #as a list is mutable.

TypeError: unhashable type: 'list'

##### accessing items of a set
the items if the set are unordered and they dont have any index number . in order to access the items of a set, we need to iterate through the set object using a for loop.

In [28]:
fruit_set = {'mango','banana','apple'}
for fruit in fruit_set:
    print(fruit)

mango
banana
apple

In [27]:
fruit_set = {'mango','banana','apple'}
if 'mango' in fruit_set:
    print('mango in fruit set')
else:
    print('mango not in fruit set')

mango in fruit set

In [29]:
sports_set={'cricket','football','badminton'} 
len(sports_set)

3

In [1]:
sports_set={'cricket','football','badminton','football'} 
len(sports_set)

3

In [32]:
sports_set={'cricket','football','badminton'}
print(id(sports_set))
sports_set.add('table tennis')  #to add one item
print(sports_set)
print(id(sports_set))

1467127678560
{'cricket', 'badminton', 'football', 'table tennis'}
1467127678560

In [33]:
sports_set={'cricket','football','badminton'}
sports_set.update('table tennis','lawn tennis','rugby')
print(sports_set)

{'football', 'b', 'i', 'u', 'g', 'e', 'y', 'r', 't', ' ', 'n', 's', 'a', 'cricket', 'badminton', 'l', 'w'}

In [44]:
sports_set={'cricket','football','badminton'}
sports_set.update({'table tennis'},{'lawn tennis'},{'rugby'})
print(sports_set)

{'football', 'lawn tennis', 'rugby', 'cricket', 'badminton', 'table tennis'}

In [46]:
sports_set={'cricket','football','badminton'}
sports_set.update({table tennis},{lawn tennis},{rugby})
print(sports_set)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3365361290.py, line 2)

##### removing items from a set we can use the following methods

- remove()
- discard()
- pop()
- clear()
- del set

In [34]:
set_a= {'lion','tiger','cheetah'} # takes only one argument
set_a.remove('lion')
print(set_a)

{'cheetah', 'tiger'}

In [35]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.remove('lion','puma')

TypeError: set.remove() takes exactly one argument (2 given)

In [42]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.remove('hippo')
print(set_a)

KeyError: 'hippo'

In [38]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.discard('lion')
print(set_a)

{'puma', 'cheetah', 'tiger'}

In [40]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.discard('cheetah')
print(set_a)

{'puma', 'tiger', 'lion'}

In [48]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.discard('cheetah','puma')                   # it also takes only one argument
print(set_a)

TypeError: set.discard() takes exactly one argument (2 given)

In [41]:
set_a= {'lion','tiger','cheetah', 'puma'}
set_a.discard('hippo')
print(set_a)

{'puma', 'cheetah', 'tiger', 'lion'}

In [43]:
# remove shows key error when the item that is to be removed is not present in set.
# discard whereas runs the operation and gives the set without any change in output.

# 2/8/2023

In [ ]:
set_a={1,12,3,32,43,23,[1,2,3]}