# SETS IN PYTHON

In [26]:
set_a={1,2,3,4,5,6,67,'suryansh'}
print(set)
print(id(set))

{1, 2, 3, 4, 5, 6, 67, 'suryansh'}
2372396563840

In [27]:
set_a={1,2,3,4,5,6,67,'suryansh',[123242]}  #as set items are immutable.
print(set)

TypeError: unhashable type: 'list'

In [28]:
set_a={1,2,3,4,5,6,67,'suryansh',{1,2,23,31}}
print(set)
print(id(set))

TypeError: unhashable type: 'set'

In [38]:
list=[set,{1,2,3,4,5,6,7,8,5}]
print(list)

[{1, 2, 3, 4, 5, 6, 67, 'suryansh'}, {1, 2, 3, 4, 5, 6, 7, 8}]

#### characterstics of a set

- unordered
- unchangable- set items must be immutable
- unique.

In [39]:
set_a={1,2,3,4,5,7,8,8}
set_a.append(22,44)

AttributeError: 'set' object has no attribute 'append'

In [40]:
set_a={1,2,3,4,5,7,8,8}
set_a.extend(22,44)

AttributeError: 'set' object has no attribute 'extend'

In [42]:
set_a={1,2,3,4,5,7,8,8}
set_a.remove(5)
print(set_a)

{1, 2, 3, 4, 7, 8}

In [48]:
set_a={2,3,4,5,7,8,8}
set_a.pop()

2

In [53]:
set_a={1,2,3,4,5,7,8,8}
del set_a
print({set_a})

NameError: name 'set_a' is not defined

In [59]:
set_a={1,2,3,4,5,7,8,8}
print(del set_a())

SyntaxError: invalid syntax (1542661311.py, line 2)

# adding items to a set

with help of add() method

In [5]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('jaguar')
print(set_animals)

{'jaguar', 'lion', 'puma', 'cheetah', 'tiger'}

In [15]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add(1)
print(set_animals)

{1, 'lion', 'puma', 'cheetah', 'tiger'}

In [17]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add(11111)
print(set_animals)

{'lion', 'puma', 11111, 'cheetah', 'tiger'}

In [18]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('11111')
print(set_animals)

{'lion', 'puma', '11111', 'cheetah', 'tiger'}

In [19]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add({'11111'})
print(set_animals)

TypeError: unhashable type: 'set'

In [16]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('1')
print(set_animals)

{'lion', 'puma', 'cheetah', '1', 'tiger'}

In [6]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('jaguar','avas')
print(set_animals)

TypeError: set.add() takes exactly one argument (2 given)

In [8]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add((('jaguar')))
print(set_animals)

{'jaguar', 'lion', 'puma', 'cheetah', 'tiger'}

In [2]:
set_other_animals={'hyena','elephant','deer'}
set_animals.add(set_other_animals)
print(set_animals)

TypeError: unhashable type: 'set'

In [22]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add({'1'1'1'1'})
print(set_animals)

SyntaxError: unterminated string literal (detected at line 2) (1582795218.py, line 2)

In [23]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add({'1''1''1''1'})
print(set_animals)

TypeError: unhashable type: 'set'

In [25]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('1''1''1''1')
print(set_animals)

{'lion', 'puma', 'cheetah', 'tiger', '1111'}

In [28]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('1','1','1','1')
print(set_animals)

TypeError: set.add() takes exactly one argument (4 given)

In [30]:
'a''n'

'an'

In [26]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('1''1''1''2')
print(set_animals)

{'lion', 'puma', 'cheetah', 'tiger', '1112'}

In [27]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.add('1''1''1''2''a')
print(set_animals)

{'lion', 'puma', 'cheetah', 'tiger', '1112a'}

##### .update()

In [3]:
set_other_animals={'hyena','elephant','deer'}
set_animals.update(set_other_animals)
print(set_animals)

{'cheetah', 'lion', 'deer', 'elephant', 'tiger', 'puma', 'jaguar', 'hyena'}

In [4]:
set_other_animals={'hyena','elephant','deer'}
set_animals.update('hyena','elephant','deer','dog','cat')
print(set_animals)

{'lion', 'deer', 'c', 'puma', 'hyena', 'p', 'tiger', 't', 'e', 'd', 'o', 'cheetah', 'r', 'h', 'g', 'jaguar', 'elephant', 'n', 'a', 'y', 'l'}

In [20]:
set_other_animals={'hyena','elephant','deer'}
set_animals.update(34,99) #as update() breaks down every character of iterable objects, so here
print(set_animals)        # when it reads 34 it tries to break it as well but as int is not iterable
                          # therefore it tries to break down 34 and as int is not iterable 
    #therefore this iterable error is shown , same concept goes for 99. 
    
    # and hence python does not breaks 34 and 99 as differnt elements . but in list or set when python
    #breaks them the values we get are of elements which can be int or string
    #but in int it has no sub elements to it.

TypeError: 'int' object is not iterable

In [12]:
set_other_animals={'hyena','elephant','deer'}
set_animals.update([34,99])
print(set_animals)

{'jaguar', 34, 'lion', 'puma', 99, 'cheetah', 'tiger'}

In [14]:
set_other_animals={'hyena','elephant','deer'}  # no duplicacy
set_animals.update([34,99,99])
print(set_animals)

{'jaguar', 34, 'lion', 'puma', 99, 'cheetah', 'tiger'}

In [31]:
set_other_animals={'hyena','elephant','deer'}  # no duplicacy
set_animals.update('asaassasasasas')
print(set_animals)

{'lion', 'puma', 'cheetah', 'tiger', 's', 'a'}

In [21]:
set_other_animals={'hyena','elephant','deer'}  # no duplicacy
set_animals.update('yyyyyyy')
print(set_animals)

{'lion', 'puma', 'cheetah', 'tiger', 'y'}

In [5]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.update(['hyena','elephant','deer','dog','cat'])
print(set_animals)

{'cheetah', 'dog', 'lion', 'deer', 'elephant', 'tiger', 'puma', 'cat', 'hyena'}

In [6]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.update(('hyena'),('elephant'),('deer'),('dog'),('cat'))
print(set_animals)

{'cheetah', 'e', 'r', 'lion', 'p', 'n', 'h', 'a', 'tiger', 't', 'c', 'puma', 'g', 'y', 'd', 'o', 'l'}

In [7]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.update(['hyena'],['elephant'],['deer'],['dog'],['cat'])
print(set_animals)

{'cheetah', 'dog', 'lion', 'deer', 'elephant', 'tiger', 'puma', 'cat', 'hyena'}

In [8]:
set_animals={'lion','tiger','cheetah','puma'}
set_animals.update(1)
print(set_animals)

TypeError: 'int' object is not iterable

In [10]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update(11,12,13,14,15)
print(set_number)

TypeError: 'int' object is not iterable

In [13]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update([11,12,13,14,15])
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [15]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update(['one','two',11,12,13,14,15])
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'two', 11, 12, 13, 14, 15, 'one'}

In [16]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update('one','two',[11,12,13,14,15])
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 't', 'e', 'o', 'w', 'n'}

In [18]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update(['o','t',11,12,13,14,15])
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 't', 13, 14, 15, 'o'}

In [19]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'o','t',11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 't', 'o'}

In [20]:
 set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'one','two',11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'two', 11, 12, 13, 14, 15, 'one'}

In [21]:

set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update('one',{'two'},{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'two', 11, 12, 13, 14, 15, 'n', 'e', 'o'}

In [23]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'one',{{'two'}},{11,12,13,14,15})
print(set_number)

TypeError: unhashable type: 'set'

In [24]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update('11',{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, '1'}

In [25]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update('11',{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, '1'}

In [29]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'11'},{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11', 11, 12, 13, 14, 15}

In [31]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'12'},{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, '12', 12, 13, 14, 15}

In [33]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'16'},{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, '16'}

In [37]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({'15'},{11,12,13,14,15})
print(set_number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '15', 11, 12, 13, 14, 15}

In [43]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update({{'16'}},{11,12,13,14,15})
print(set_number)

TypeError: unhashable type: 'set'

In [44]:
set_number={1,2,3,4,5,6,7,8,9,10}
set_number.update('{'{'16'}'}',{11,12,13,14,15})
print(set_number)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1450104237.py, line 2)

## removing items from a set

- remove()
- discard()
- pop()
- del set

In [46]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove('purple')
print(colour_set)

{'violet', 'blue', 'red', 'orange'}

In [47]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove('purple','orange')
print(colour_set)

TypeError: set.remove() takes exactly one argument (2 given)

In [48]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove({'purple'})
print(colour_set)

KeyError: {'purple'}

In [52]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove()
print(colour_set)

TypeError: set.remove() takes exactly one argument (0 given)

In [55]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove('awff')
print(colour_set)

KeyError: 'awff'

In [49]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.remove({'purple','orange'})
print(colour_set)

KeyError: {'purple', 'orange'}

In [50]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.discard('purple')
print(colour_set)

{'violet', 'blue', 'red', 'orange'}

In [51]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.discard('purple','orange')
print(colour_set)

TypeError: set.discard() takes exactly one argument (2 given)

In [53]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.discard()
print(colour_set)

TypeError: set.discard() takes exactly one argument (0 given)

In [54]:
colour_set={'red','purple','orange','blue','violet'}
colour_set.discard('awff')
print(colour_set)

{'violet', 'blue', 'red', 'orange', 'purple'}

In [ ]:
# remove shows key error when an item that is not present in the list is written in()
# whereas discard does not show any error and gives the set same as it is in output.

#### pop

In [62]:
set_sports={'cricket','football','volleyball','badminton','rugby','basketball','kho-kho','kabaddi'}
set_sports.pop()
print(set_sports)

{'cricket', 'rugby', 'badminton', 'basketball', 'kabaddi', 'football', 'kho-kho'}

In [63]:
set_sports={'cricket','football','volleyball','badminton','rugby','basketball','kho-kho','kabaddi'}
set_sports.pop('cricket')
print(set_sports)

TypeError: set.pop() takes no arguments (1 given)

##### del

In [67]:
set_sports={'cricket','football','volleyball','badminton','rugby','basketball','kho-kho','kabaddi'}
del set_sports
print(set_sports)

NameError: name 'set_sports' is not defined

In [35]:
set_sports={'cricket','football','volleyball','badminton','rugby','basketball','kho-kho','kabaddi'}
print(del set_sports)

SyntaxError: invalid syntax (2787236381.py, line 2)

In [42]:
set_sports={'cricket','football','volleyball','badminton','rugby','basketball','kho-kho','kabaddi'}
print((del set_sports)+1)

SyntaxError: invalid syntax (3416482490.py, line 2)

In [ ]:
# 4 08 2023

## set operations

In [43]:
a={1,2,3,4,5,67,87}
b={1,2,3,4,5,6,7,78}
print(a.union(b))

{1, 2, 3, 4, 5, 67, 6, 7, 78, 87}

In [51]:
print(a.union,{b})

TypeError: unhashable type: 'set'

In [48]:
print(a.union,{b})

TypeError: unhashable type: 'set'

In [44]:
a={1,2,3,4,5,67,87}
b={1,2,3,4,5,6,7,78}
print(a.intersection(b))

{1, 2, 3, 4, 5}

In [45]:
a={1,2,3,4,5,67,87}
b={1,2,3,4,5,6,7,78}
print(a.difference(b))

{67, 87}

In [46]:
a={1,2,3,4,5,67,87}
b={1,2,3,4,5,6,7,78}
print(b.difference(a))

{78, 6, 7}

In [ ]:
a={1,2,3,4,5,67,87}
b={1,2,3,4,5,6,7,78}
print(b.difference_update(a))

#### 7.8.2023

In [3]:
sample_set={'rupali','vidushi',25,75.25}
print(sample_set)
print(id(sample_set))

{25, 75.25, 'vidushi', 'rupali'}
1254697067328

In [16]:
a={'violet' ,'indigo','blue','green'}
print(id(a))
b={'green','yellow','orange','red'}
print(id(b))
c=a.union(b)
print(id(c))
print(a.union(b))
print(id(a))
print(id(b))

1254726976448
1254698727040
1254697069120
{'violet', 'orange', 'blue', 'indigo', 'red', 'green', 'yellow'}
1254726976448
1254698727040

In [22]:
a={'violet' ,'indigo','blue','green'}
print(id(a))
b={'green','yellow','orange','red'}
print(id(b))
c=a.union(b)
print(id(c))
print(a.union_update(b))
print(id(a))
print(id(b))

1254698725696
1254726976448
1254698727040

AttributeError: 'set' object has no attribute 'union_update'

In [10]:
a={'violet' ,'indigo','blue','green'}
print(id(a))
b={'green','yellow','orange','red'}
print(id(b))
c=a.intersection(b)
print(id(c))
print(a.intersection(b))
print(id(a))
print(id(b))

1254697069344
1254697066880
1254697068448
{'green'}
1254697069344
1254697066880

In [17]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours={'indigo' , 'orange' , 'red'}
common_colours=colour_set.intersection(remaining_colours)
print(common_colours)
print(id(common_colours))
common_colours=colour_set.intersection_update(remaining_colours)
print(colour_set)
print(id(colour_set))

{'indigo', 'violet', 'green', 'yellow', 'blue'}
1254698728832
{'indigo'}
1254698725696
{'indigo'}
1254698728832

In [20]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours={'indigo' , 'orange' , 'red'}
common_colours=colour_set.intersection(remaining_colours)
print(common_colours)
print(id(common_colours))
a=colour_set.intersection_update(remaining_colours)
print(colour_set==a)
print(colour_set)
print(id(colour_set))

{'indigo', 'violet', 'green', 'yellow', 'blue'}
1254697067776
{'indigo'}
1254698725696
False
{'indigo'}
1254697067776

In [21]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours={'indigo' , 'orange' , 'red'}
common_colours=colour_set.intersection(remaining_colours)
print(common_colours)
print(id(common_colours))
a==colour_set.intersection_update(remaining_colours)
print(colour_set==a)
print(colour_set)
print(id(colour_set))

{'indigo', 'violet', 'green', 'yellow', 'blue'}
1254698728832
{'indigo'}
1254698727712
False
{'indigo'}
1254698728832

#### difference set

In [24]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
remaining_colours={'indigo' , 'orange' , 'red'}
new_colours=colour_set.difference(remaining_colours)
print(new_colours)

{'green', 'yellow', 'violet', 'blue'}

In [25]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
remaining_colours={'indigo' , 'orange' , 'red'}
colour_set.difference_update(remaining_colours)
print(colour_set)

{'indigo', 'violet', 'green', 'yellow', 'blue'}
{'violet', 'green', 'yellow', 'blue'}

### symmetric difference of sets

###### returns the elements that are unique in both the sets.

In [7]:
A={1,2,3,4,5}
print(A)
B={3,4,5,6,7,8}
c=A.symmetric_difference(B)
print(c)
print(A.symmetric_difference(B))
print(A)

{1, 2, 3, 4, 5}
{1, 2, 6, 7, 8}
{1, 2, 6, 7, 8}
{1, 2, 3, 4, 5}

In [6]:
A={1,2,3,4,5}
print(A)
print(id(A))
B={3,4,5,6,7,8}
A.symmetric_difference_update(B)
print(A)
print(id(A))

{1, 2, 3, 4, 5}
2390588909696
{1, 2, 6, 7, 8}
2390588909696

In [5]:
print(A)

{1, 2, 6, 7, 8}

In [8]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
remaining_colours={'indigo' , 'orange' , 'red'}
c=colour_set.symmetric_difference(remaining_colours)
print(c)
print(colour_set)

{'violet', 'red', 'yellow', 'orange', 'green', 'blue'}
{'yellow', 'green', 'violet', 'indigo', 'blue'}

In [10]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours={'indigo' , 'orange' , 'red'}
colour_set.symmetric_difference_update(remaining_colours)
print(id(colour_set))
print(colour_set)

{'yellow', 'green', 'violet', 'indigo', 'blue'}
2390588907680
2390588907680
{'red', 'yellow', 'green', 'orange', 'violet', 'blue'}

In [11]:
colour_set={'violet' ,'indigo','blue','green','yellow'}
print(colour_set)
print(id(colour_set))
remaining_colours={'indigo' , 'orange' , 'red'}
c=colour_set.symmetric_difference_update(remaining_colours)
print(id(colour_set))
print(colour_set)
print(c)

{'yellow', 'green', 'violet', 'indigo', 'blue'}
2390588910144
2390588910144
{'red', 'yellow', 'green', 'orange', 'violet', 'blue'}
None

In [13]:
# none is also a data type.
print(print)

<built-in function print>

In [28]:
list=[1,'sds',2,3432,445,1]
list[0:5]=1,445,3432,2,'sds'
print(list)

[1, 445, 3432, 2, 'sds', 1]

In [48]:
list=[1,'sds',2,3432,445,1,]
list[::-2]

[1, 3432, 'sds']

In [ ]:
set_a={1,2,3,4,5,6,7,78}
set_b={1,2,11}

#### subset and superset

In [39]:
A={1,2,3,4}
B={1,2,3,4,5,6,7,8,9}
A.issubset(B)

True

In [40]:
A={1,2,3,4}
B={1,2,3,4,5,6,7,8,9}
A.issuperset(B)

False

In [41]:
A={1,2,3,4}
B={1,2,3,4,5,6,7,8,9}
B.issubset(A)

False

In [43]:
A={1,2,3,4}
B={1,2,3,4,5,6,7,8,9}
print(B.issuperset(A))

True

In [6]:
'Suri'=='Suri'

True

In [7]:
'Y'<'z'

True

In [8]:
'Y'>'z'

False

In [14]:
colour_set1={'violet','blue','yellow','red','green'}
colour_set2={'orange','red','green'}
colour_set3={'green','orange'}
print(colour_set1.intersection(colour_set2))
print(colour_set3.intersection(colour_set1.intersection(colour_set2)))

{'green', 'red'}
{'green'}

In [17]:
colour_set1={'violet','blue','yellow','red','green'}
colour_set2={'orange','red','green'}
colour_set3={'green','orange'}
print(colour_set1.isdisjoint(colour_set2))
print(colour_set1.isdisjoint(colour_set3))
print(colour_set2.isdisjoint(colour_set3))
print(colour_set3.isdisjoint(colour_set1.intersection(colour_set2)))

False
False
False
False

In [19]:
colour_set1={'violet','blue','yellow','red','green'}
colour_set2={'orange','red','green'}
colour_set3={'green','orange'}
print(colour_set1.isjoint(colour_set2))
print(colour_set1.isjoint(colour_set3))
print(colour_set2.isjoint(colour_set3))
print(colour_set3.isjoint(colour_set1.intersection(colour_set2)))

AttributeError: 'set' object has no attribute 'isjoint'

#### sort the sets

set is an unordered collection of data so there is no point in sorting it.If you want to sort it using the sorted() method but this method will retutn the list.

the sorted() function is used to sort the set.This set will return a new list and will not update the original set.

example-

In [28]:
set1={20,4,6,13,231,45}
print(id(set1))
print(set1)
sorted_list=sorted(set1)
sorted_set=sorted(set1)
print(sorted_list==sorted_set)
print(sorted_list)
print(id(sorted_list))
type(sorted_list)

2603974690848
{13, 4, 20, 6, 231, 45}
True
[4, 6, 13, 20, 45, 231]
2603975097984

list

In [29]:
set1={20,4,6,13,231,45,'afds'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
set1={'afds','AADA','SADA','JHFFFFK'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

['AADA', 'JHFFFFK', 'SADA', 'afds']

list

In [31]:
set1={'afds','AADA','SADA','JHFFFFK','AADA'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

['AADA', 'JHFFFFK', 'SADA', 'afds']

list

In [32]:
set1={'afds','AADA','SADA','JHFFFFK','AADA','AADA','AADA','AADA','AADA','AADA'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

['AADA', 'JHFFFFK', 'SADA', 'afds']

list

In [36]:
set1={'SET1','SET2','sET1'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

['SET1', 'SET2', 'sET1']

list

In [39]:
set1={'2','SET1','SET2','sET1','12212','32323'}
sorted_list=sorted(set1)
print(sorted_list)
type(sorted_list)

['12212', '2', '32323', 'SET1', 'SET2', 'sET1']

list

In [ ]:
# PRECEDENCE OF STRING IS NUMERALS 0-9 , 'UPPER CASSE' ,'LOWER CASE'

#### - MAX() AND MIN()

The max() function will return the item with maximum value in set.
and min() function will return the item with the minimu value in the set.

in case of strings the max and min value will be determined on the basis of ASCII code.

#### FROZENSET

In [10]:
rainbow={'violet','indigo','green','yellow','orange','red'}
f_set=frozenset(rainbow)
print(f_set)
print(type(f_set))

frozenset({'orange', 'violet', 'green', 'indigo', 'yellow', 'red'})
<class 'frozenset'>

In [11]:
rainbow={'violet','indigo','green','yellow','orange','red'}
f_set=frozenset(rainbow)
print(f_set)
c=rainbow.add(f_set)
print(c)

frozenset({'orange', 'violet', 'green', 'indigo', 'yellow', 'red'})
None

In [14]:
rainbow=['violet','indigo','green','yellow','orange','red']
f_set=frozenset(rainbow)
print(f_set)

frozenset({'orange', 'violet', 'green', 'indigo', 'yellow', 'red'})

In [16]:
rainbow=['violet','indigo','green','yellow','orange',['red']]
f_set=frozenset(rainbow)
print(f_set)

TypeError: unhashable type: 'list'

In [17]:
rainbow=['violet','indigo','green','yellow','orange',{'red'}]
f_set=frozenset(rainbow)
print(f_set)

TypeError: unhashable type: 'set'

In [18]:
rainbow={'violet','indigo','green','yellow','orange','red'}
f_set=frozenset(rainbow)
print(f_set)
print(f_set.add('ss'))

frozenset({'orange', 'violet', 'green', 'indigo', 'yellow', 'red'})

AttributeError: 'frozenset' object has no attribute 'add'

In [22]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
print(colourset1.union(colourset2))

frozenset({'violet', 'green', 'indigo', 'blue', 'red'})

In [19]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
print(colourset1.intersection(colourset2))

frozenset({'green', 'blue'})

In [26]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
colourset1.intersection_update(colourset2)                       # as frozenset is immmutable 
print(colourset1)

AttributeError: 'frozenset' object has no attribute 'intersection_update'

In [23]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
print(colourset1.difference(colourset2))

frozenset({'violet', 'indigo'})

In [27]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
print(colourset1.difference_update(colourset2))         # as frozenset is immmutable

AttributeError: 'frozenset' object has no attribute 'difference_update'

In [30]:
colourset1=frozenset(('violet', 'indigo' ,'blue' , 'green'))
colourset2=frozenset(('red' ,'blue' , 'green'))
newcolourset1=set(colourset1)
print(newcolourset1)
newcolourset2=set(colourset2)
print(newcolourset2)

{'violet', 'green', 'blue', 'indigo'}
{'green', 'red', 'blue'}

#### nested sets

In [33]:
olourset1={'violet', 'indigo' ,'blue' , 'green'}
colourset2=frozenset(('red' ,'blue' , 'green'))
sss=colourset1.add(colourset2)
print(sss)

None

In [34]:
colourset1={'violet', 'indigo' ,'blue' , 'green'}
colourset2=frozenset(('red' ,'blue' , 'green'))
colourset1.add(colourset2)
print(colourset1)

{frozenset({'green', 'red', 'blue'}), 'violet', 'green', 'indigo', 'blue'}

In [37]:
colourset1={'violet', 'indigo' ,'blue' , 'green'}
colourset2={'red' ,'blue' , 'green'}
nested_set=set(frozenset(colourset1),frozenset(colourset2))
print(nestedset1)

TypeError: set expected at most 1 argument, got 2

In [39]:
colourset1={'violet', 'indigo' ,'blue' , 'green'}
colourset2={'red' ,'blue' , 'green'}
nested_set=set((frozenset(colourset1),frozenset(colourset2)))
print(nested_set)

{frozenset({'green', 'red', 'blue'}), frozenset({'violet', 'green', 'blue', 'indigo'})}

In [45]:
colourset1={'violet', 'indigo' ,'blue' , 'green'}
colourset2={'red' ,'blue' , 'green'}
nested_set=set((frozenset(colourset1).union(frozenset(colourset2))))
            
print(nested_set)

{'violet', 'green', 'indigo', 'blue', 'red'}

#### when to use set data structure

- to eliminate duplicate items.
- membership testing
- performing arithmetic operations similar to mathematical sets

In [55]:
v

SyntaxError: cannot assign to literal (2875854888.py, line 2)