In [2]:
x = 5
y = 2
z=3
print(x * y)
print(x*y*z)

10
30

In [18]:
x=6.67
y=2.39
print(x*y)

15.9413

In [21]:
a=12
b=14
print(b/a)

1.1666666666666667

In [32]:
not True

False

In [33]:
not False

True

In [38]:
not False

True

In [39]:
print (20 and 10)

10

In [43]:
False or True

True

In [45]:
x=10
y=12
z=14
print(x is y)

False

In [50]:
y=12
print(id(y))

1593823593040

In [59]:

True and False or True

True

# EXPONENT
denoted by **

In [1]:
2**4

16

In [3]:
print(3**5)

243

In [4]:
2*3**2

18

In [5]:
4**-3

0.015625

# operators    

equal to         ==
not equal to     !=
greater than or equal to >=
less than or equal to    <=

In [10]:
x=y

NameError: name 'y' is not defined

In [16]:
x>=y

NameError: name 'x' is not defined

In [17]:
y>=x

NameError: name 'y' is not defined

In [18]:
x=10
y=20
z=30

x+y>=z

True

In [24]:
x=10
y=12
z=14
x<z<y

False

# operatorS
 
 OPERATOR                   MEANING                    EQUIVALENT
  
 1 assign                assign 5 to a variable a  a=5
 
 2 add and assign        5 is added to a            a=a+5
 
 3 subtract and assign                              a=a-5
  
 4 multiply and assign                              a=a*5
  
 5 divide and assign                                a=a/5

 6 modulus and assign                               a=a%5

# MEMBERSHIP OPERATORS

IN OPERATOR
 it returns a result as TRUE if it finds a given object in a sentence . Otherwise , it returns FALSE

In [111]:
my_list = [11,15,29,50,70]
number = 15
if number in my_list 
    print ( " number is present " )
else:
    print ( " number is not present " )

SyntaxError: expected ':' (3102144590.py, line 3)

NOT IN OPERATOR

it returns true if the object is not present in a given sequence . other wise , it returns False

In [99]:
my_tuple = (11,15,21,29)
number=21
if number not in my tuple

print("present in my tupl")

# IS NOT OPERATOR

In [100]:
x=10
y=11
z=10
print(x is not y) # it compares the memory address of x and y
print(x is not z) # it compares the memory address of x and y

True
False